In [7]:
import pandas as pd
data = pd.read_csv("Tripadvisordata_red.csv")
data.head()

,Unnamed: 0,Name,Main rating,Ranking on list,Price range,Price class,Number of reviews,Location,Distance from Kgs. Nytorv,God pris,Mad,Service,Stemning,New Price class,Priceclass_num
0,0,Kokkeriet,"4,5",13,------16770.-970.,--$$$$---,769 anmeldelser,"55.687626,12.585126",852.555721,45.0,50.0,50.0,NaN,$$$$,4.0
1,1,The Olive Kitchen &amp; Bar,"5,0",3,------1674.-174.,--$$-$$$---------,2.138 anmeldelser,"55.68125,12.571284",821.353628,45.0,50.0,50.0,NaN,$$-$$$,2.5
2,2,Pizzeria Mamemi &amp; Wine Bar,"5,0",7,"------16,,,",--$---------,927 anmeldelser,"55.667767,12.548116",2638.099997,45.0,50.0,50.0,NaN,$,1.0
3,3,Zahida at Kellerdirk,"5,0",5,------1647.-248.,--$$-$$$---------,878 anmeldelser,"55.67162,12.546196",2557.014270,45.0,50.0,50.0,NaN,$$-$$$,2.5
4,4,Grams Lækkerier,"5,0",1,------1633.-100.,--$---------,720 anmeldelser,"55.671036,12.562724",1673.270999,45.0,50.0,50.0,45.0,$,1.0

In [8]:
sum_tab = data.describe()
sum_tab

,Unnamed: 0,Ranking on list,Distance from Kgs. Nytorv,God pris,Mad,Service,Stemning,Priceclass_num
count,597.000000,597.000000,597.000000,588.000000,586.000000,588.000000,355.000000,593.000000
mean,298.000000,286.891122,1459.865427,40.867347,43.216724,42.508503,41.225352,2.512648
std,172.483333,199.812529,1503.408732,4.118693,3.712183,3.964269,4.199130,0.726728
min,0.000000,1.000000,35.529380,30.000000,30.000000,30.000000,30.000000,1.000000
25%,149.000000,124.000000,537.077304,40.000000,40.000000,40.000000,40.000000,2.500000
50%,298.000000,283.000000,1138.246372,40.000000,45.000000,40.000000,40.000000,2.500000
75%,447.000000,432.000000,1993.900037,45.000000,45.000000,45.000000,45.000000,2.500000
max,596.000000,2062.000000,19713.994399,50.000000,50.000000,50.000000,50.000000,4.000000

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

data.plot(x='Distance from Kgs. Nytorv', y='Main rating', kind='scatter')
plt.show()

ValueError: scatter requires y column to be numeric