In [43]:
import pandas as pd
import matplotlib
# Import data 
data = pd.read_excel("data cleaned.xlsx", sheet_name="Sheet1")
data.head()

,F1,Location,Number of reviews,Price class,Main rating,Ranking on list,Price range,clean dollar,Location1,Location2,Price class1,Price class2,Price range1,Price range2,high dollar,high price
0,0,"55.681705,12.583386",525,$$$$-,4.5,28,201-663,$$$$,55.681705,12.583386,$$$$,NaN,201.0,663.0,$$$$,663.0
1,1,"55.678543,12.589863",176,$$-$$$-,4.5,23,248-388,$$-$$$,55.678543,12.589863,$$,$$$,248.0,388.0,$$$,388.0
2,2,"55.683018,12.586555",515,$$-$$$-,4.5,21,341-489,$$-$$$,55.683018,12.586555,$$,$$$,341.0,489.0,$$$,489.0
3,3,"55.684223,12.585324",580,$$-$$$-,4.5,30,348-495,$$-$$$,55.684223,12.585324,$$,$$$,348.0,495.0,$$$,495.0
4,4,"55.679256,12.524991",529,$$$$-,4.5,3,107-535,$$$$,55.679256,12.524991,$$$$,NaN,107.0,535.0,$$$$,535.0

TypeError: 'Series' object is not callable

In [13]:
data = pd.DataFrame(data)

In [18]:
# create summary table to get an overview of the data 

sum_tab = data.describe()
pd.set_option('display.max_rows', 500)
print(sum_tab)

               F1  Number of reviews  Main rating  Ranking on list  \
count  656.000000         656.000000   656.000000       656.000000
mean   327.500000         274.411585     4.247713       315.324695
std    189.515171         326.558340     0.383827       217.550267
min      0.000000          12.000000     3.000000         1.000000
25%    163.750000          70.750000     4.000000       135.750000
50%    327.500000         162.500000     4.500000       308.500000
75%    491.250000         333.500000     4.500000       475.250000
max    655.000000        2866.000000     5.000000      1421.000000

        Location1   Location2  Price range1  Price range2   high price
count  656.000000  656.000000    346.000000    346.000000   346.000000
mean    55.679437   12.570404    182.786127    568.777457   568.777457
std      0.011878    0.021999    362.021611    926.762355   926.762355
min     55.631634   12.276364      1.000000      1.000000     1.000000
25%     55.673450   12.559009     47.000000    147.000000   147.000000
50%     55.678877   12.573531     80.000000    254.000000   254.000000
75%     55.683253   12.584205    147.000000    549.000000   549.000000
max     55.813576   12.654269   4651.000000   6692.000000  6692.000000

ModuleNotFoundError: No module named 'binscatter'

## Ideer 

Afstand/vurderings scatter (evt binned)
Afstand/kvalitet scatter (evt binned)
Afstand/service scatter (evt binned)
Pris/kvalitet plot

Vurdering/antal anmeldelser

Priskort
Kvallitetskort