## Importing packages and attributes

In [1]:
import pandas as pd
import numpy as np
import re
from geopy.distance import great_circle

## Data Processing

In this notebook we will process the raw data scraped in our *`TripAdvisor_scraper.ipynb`* We start by loading the CSV file, we created.

In [2]:
trip_df = pd.read_csv("Tripadvisordata_raw.csv")
#trip_df.tail() # prints to check if the read went well

### Restructuring data

In [3]:
trip_df = trip_df.replace(regex=['&amp;'], value='&')
trip_df['Main rating'] = trip_df['Main rating'].replace(regex=[','], value='.')
trip_df['Good price'] = trip_df['God pris'] / 10
trip_df['Food'] = trip_df['Mad'] / 10
trip_df['Service'] = trip_df['Service'] / 10
trip_df['Atmosphere'] = trip_df['Stemning'] / 10
trip_df = trip_df[['Restaurant', 'Main rating', 'Ranking on list', 'Price range', 'Price class', 'Location', 'Good price', 'Food', 'Service', 'Atmosphere', 'Type of food', 'Number of reviews', 'Address', 'Type of food link']]

In [4]:
# edit missing data
trip_df["Price class"] = trip_df["Price class"].replace(np.nan, '--$$$$$$', regex=True)

# Translate the price class, to a numeric value

string = trip_df["Price class"]
string = [word.replace('nan','--$$$$$$') for word in string]

# find indexnumbers for more places with missing with missing data
list = []
for i in range(len(string)):    
    if "$" not in string[i]:
        list.append(i)

for i in list: 
    string[i] = '--$$$$$$'

In [5]:
# Filter the "-"'s      
new = []
for i in string:
    x = i.split('--')[1]
    new.append(x)


trip_df["New price class"] = new

#the tranlating keys
dollarsign = ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$']
values = [1, 1, 1, 2, 2, 2, 3, 3, 3, 'null']

# make dataframe
dict_ = {'New price class': ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$'], 'Price class numeric': [1, 1, 1, 2, 2, 2, 3, 3, 3, 99]}
translate_priceclass = pd.DataFrame(dict_)

new_trip_df = pd.merge(trip_df, translate_priceclass, on='New price class', how='left')

In [6]:
# Make our own ranking system
new_trip_df["Reverse ranking on list"] = (-1)*new_trip_df["Ranking on list"]

# sort on rating, ranking on list and number of reviews
new_trip_df = new_trip_df.sort_values(by=["Main rating", "Reverse ranking on list", "Number of reviews"], ascending=True)

# Add ranking
new_trip_df["Full ranking"] = range(1,len(new_trip_df["Number of reviews"])+1)

In [7]:
#køkken_list = ['Café', 'Afrikansk','Amerikansk','Arabisk','Argentinsk','Armensk','Aserbajdsjansk','Asiatisk','Bar','Belgisk','Brasiliansk','Britisk','Cajun og kreolsk','Cambodjansk','Canadisk','Caribisk','Centralasiatisk','Centraleuropæisk','Centralitaliensk','Dansk','Delikatesseforretning','Egyptisk','Etiopisk','Europæisk','Fastfood','Filippinsk','Fisk og skaldyr','Fra Lazio','Fra Shanghai','Fransk','Fusion','Gademad','Gastropub','Grill','Grillmad','Græsk','Hawaiiansk','Hollandsk','Hongkong','Indiansk','Indisk','Indonesisk','International','Irsk','Israelsk','Italiensk','Japansk','Kantonesisk','Kinesisk','Koreansk','Kroatisk','Latinamerikansk','Libanesisk','Malaysisk','Marokkansk','Mellemamerikansk','Mellemøstlig','Mexicansk','Middelhavsområdet','Moderne','Mongolsk','Nepalesisk','New Zealand','Norditaliensk','Norsk','Pakistansk','Persisk','Peruviansk','Pizza','Portugisisk''Pub','Russisk','Schweizisk','Siciliansk','Singaporeansk','Skandinavisk','Spansk','Specialiteter fra Beijing','Spisested','Steakhouse','Sund','Supper','Sushi','Svensk','Sydamerikansk','Syditaliensk','Szechuan','Taiwansk','Thai','Tibetansk','Toscansk','Tyrkisk','Tysk','Venezuelansk','Vietnamesisk','Vinstue','Xinjiang','Ølpub','Østeuropæisk','Østrigsk']
#most_pop = ['Café', "Italiensk", "Pizza", "Indisk", "Fisk og skaldyr", "Thai", "Steakhouse", "Mexikansk"]
#
#link_list = new_trip_df["Type of food link"]
#link_df = pd.DataFrame(link_list)
#
#food_list_1 = [] #list of list over kitchens
#for link in food_list_1:
#    food_list_1.append([x for x in køkken_list if x in link])
#    
#food_list_2 = []
#for link in food_list_1:
#    food_list_2.append([x for x in most_pop if x in link])
#food_list_2
#
#new_trip_df["Pop kitchen"] = food_list_1

In [8]:
#køkken_list = ['Café', 'Afrikansk','Amerikansk','Arabisk','Argentinsk','Armensk','Aserbajdsjansk','Asiatisk','Bar','Belgisk','Brasiliansk','Britisk','Cajun og kreolsk','Cambodjansk','Canadisk','Caribisk','Centralasiatisk','Centraleuropæisk','Centralitaliensk','Dansk','Delikatesseforretning','Egyptisk','Etiopisk','Europæisk','Fastfood','Filippinsk','Fisk og skaldyr','Fra Lazio','Fra Shanghai','Fransk','Fusion','Gademad','Gastropub','Grill','Grillmad','Græsk','Hawaiiansk','Hollandsk','Hongkong','Indiansk','Indisk','Indonesisk','International','Irsk','Israelsk','Italiensk','Japansk','Kantonesisk','Kinesisk','Koreansk','Kroatisk','Latinamerikansk','Libanesisk','Malaysisk','Marokkansk','Mellemamerikansk','Mellemøstlig','Mexicansk','Middelhavsområdet','Moderne','Mongolsk','Nepalesisk','New Zealand','Norditaliensk','Norsk','Pakistansk','Persisk','Peruviansk','Pizza','Portugisisk''Pub','Russisk','Schweizisk','Siciliansk','Singaporeansk','Skandinavisk','Spansk','Specialiteter fra Beijing','Spisested','Steakhouse','Sund','Supper','Sushi','Svensk','Sydamerikansk','Syditaliensk','Szechuan','Taiwansk','Thai','Tibetansk','Toscansk','Tyrkisk','Tysk','Venezuelansk','Vietnamesisk','Vinstue','Xinjiang','Ølpub','Østeuropæisk','Østrigsk']
#most_pop = ['Café', "Italiensk", "Pizza", "Indisk", "Fisk og skaldyr", "Thai", "Steakhouse", "Mexikansk"] # gathered from TripAdvisor

#link_list = new_trip_df["Type of food link"]
#link_df = pd.DataFrame(link_list)

#list_test = [] #list of list over kitchens
#for link in link_list:
#    list_test.append([x for x in køkken_list if x in link])
    
#link_test2 = []
#for link in link_list:
#    link_test2.append([x for x in most_pop if x in link])
#link_test2

#new_trip_df["Pop kitchen"] = link_test2

## Adding measures to the dataframe

Calculating the distance to our measure point, which will be Kongens Nytorv in Copenhagen Denmark.

In [9]:
distance_list = []
Kgs_Nytorv = '55.679977,12.5841893' #longitude and latitude for Kongens Nytorv

#calculating distance from nytorv to the coordinates in the list
def distance(x):
    Start = new_trip_df["Location"][x]
    Stop = Kgs_Nytorv
    distance_list.append(great_circle(Start, Stop).meters)
    
for x in trip_df.index:
    distance(x)
    
#appending to df 
new_trip_df["Distance from Kgs. Nytorv (m)"] = distance_list 
new_trip_df['Distance from Kgs. Nytorv (m)'] = new_trip_df['Distance from Kgs. Nytorv (m)'].round()

In [10]:
new_trip_df['Postal code'] = [str(x).split('København')[-1].split('Danmark')[0] for x in new_trip_df['Address']]

In [15]:
new_trip_df_test = new_trip_df[['Restaurant', 'Main rating', 'Good price', 'Food', 'Service', 'Atmosphere', 'Price range', 'New price class', 'Price class numeric', 'Type of food', 'Type of food link', 'Number of reviews', 'Address', 'Location', 'Distance from Kgs. Nytorv (m)', 'Postal code', 'Ranking on list', 'Reverse ranking on list', 'Full ranking']]
new_trip_df_test = new_trip_df_test.dropna(subset = ['Main rating'])
new_trip_df_test

,Restaurant,Main rating,Good price,Food,Service,Atmosphere,Price range,New price class,Price class numeric,Type of food,Type of food link,Number of reviews,Address,Location,Distance from Kgs. Nytorv (m),Postal code,Ranking on list,Reverse ranking on list,Full ranking
2142,Burger King,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Ellebjergvej 142, København 2450 Danmark","55.65107,12.50931",199.0,2450,2148.0,-2148.0,1
2147,Almanac,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Havnegade 44, København Danmark","55.67788,12.591933",459.0,,2146.0,-2146.0,2
2130,Star Midnight Kebab-Grill,1.0,NaN,NaN,NaN,NaN,101,$$-$$$,2,Grill,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Istedgade 101, København Danmark","55.6679,12.54941",3431.0,,2143.0,-2143.0,3
2134,Sunset Boulevard,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Københavns Hovedbanegård, København 1570 Danmark","55.67502,12.580593",908.0,1570,2137.0,-2137.0,4
2096,Dwaraka Indisk Restaurant,1.0,NaN,NaN,NaN,NaN,141,$$-$$$,2,Indisk,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Frederiksborgvej 221, St, København 2860 Danmark","55.72732,12.524776",1171.0,2860,2104.0,-2104.0,5
2088,McDonald's,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Fisketorvet Shopping Center, København 1560 Da...","55.66268,12.56187",772.0,1560,2103.0,-2103.0,6
2081,Præg Kaffebar,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Café,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Noerrebrogade 44, København 2200 Danmark","55.68939,12.55704",3390.0,2200,2100.0,-2100.0,7
2094,Cafe Wok,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,1.0,"Arne Jacobsens Alle 12, København 2300 Danmark","55.63103,12.57589",1811.0,2300,2099.0,-2099.0,8
2076,Kujaku,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Sushi,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Nørregade 28, København 1165 Danmark","55.458576,12.183993",540.0,1165,2090.0,-2090.0,9
2072,Gastronomia Italiana Dieci,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,1.0,"Sønder Boulevard 40, København 1720 Danmark","55.66731,12.55365",477.0,1720,2085.0,-2085.0,10
2051,Restaurant Balkonen,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Vesterbrogade 3 inside Tivoli, København 1500 ...","55.67465,12.56565",140.0,1500,2070.0,-2070.0,11
2046,Carisma ApS,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Amager Strandvej, København Danmark","55.65197,12.63984",613.0,,2053.0,-2053.0,12
2176,Dan Dan Restaurant,1.5,1.5,2.0,1.5,1.5,NaN,$,1,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",26.0,"Vimmelskaftet 39c 1. Sal 1161, København Danmark","55.67854,12.5755",528.0,,2179.0,-2179.0,13
2164,Yam Yam,1.5,1.0,1.0,2.5,NaN,NaN,$$$$$$,99,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",15.0,Central Station shopping center Station Square...,"55.63226,12.5723",2994.0,,2172.0,-2172.0,14
2141,Krunch,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,7.0,"Oeresundsvej 14, København 2300 Danmark","55.65898,12.60988",821.0,2300,2159.0,-2159.0,15
2146,Yoburger,1.5,NaN,NaN,NaN,NaN,148,$$-$$$,2,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Oestergade 52 Illum mall, København 1100 Danmark","55.67945,12.580216",908.0,1100,2141.0,-2141.0,16
2118,McDonald's,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,3.0,"Østerbrogade 120, København 2100 Danmark","55.70468,12.57768",2736.0,2100,2131.0,-2131.0,17
2103,Copenhagen Asian Food,1.5,NaN,NaN,NaN,NaN,175,$$-$$$,2,Kinesisk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Vimmelskaftet 39, C St, København 1161 Danmark","55.678505,12.575671",15869.0,1161,2120.0,-2120.0,18
2121,La Coruna Pizza,1.5,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,Pizza,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Sjælør Boulevard 46, København 2450 Danmark","55.65042,12.52806",562.0,2450,2115.0,-2115.0,19
2119,Cafe Restaurant Hollywood,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Amagerbrogade 250, København 2100 Danmark","55.64461,12.61483",2629.0,2100,2107.0,-2107.0,20
2089,Cafe Q,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Frederiksborgvej 169, København 2400 Danmark","55.72161,12.5297",3712.0,2400,2097.0,-2097.0,21
2170,Kokken & Karry,1.5,1.5,1.5,2.0,1.5,NaN,$,1,Indisk,"<div class=""header_links""><a href=""/Restaurant...",17.0,"Frederiksberg Alle 98, Frederiksberg, Københav...","55.674896,12.533771",577.0,1820,182.0,-182.0,22
2178,Cafe Sari,2.0,1.5,2.0,1.5,NaN,NaN,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",54.0,"Nytorv 3C, København 1450 Danmark","55.67772,12.572994",1673.0,1450,2180.0,-2180.0,23
2161,Hong Kong Restaurant,2.0,2.0,1.5,2.0,NaN,NaN,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",53.0,"Nyhavn 7, kld. 1051 Kobenhavn K., København Da...","55.68049,12.588333",1935.0,,2178.0,-2178.0,24
2163,"KFC, Rådhuspladsen",2.0,2.0,2.5,2.5,NaN,NaN,$,1,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",19.0,"Rådhuspladsen 55, København Danmark","55.67645,12.569685",2638.0,,2175.0,-2175.0,25
2172,Cafe-Pavillonen,2.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,11.0,"Edel Sauntes Alle 22, København 2100 Danmark","55.70091,12.56682",390.0,2100,2171.0,-2171.0,26
2179,Tapas Revolution,2.0,2.0,2.5,2.5,NaN,249,$$-$$$,2,Spansk,"<div class=""header_links""><a href=""/Restaurant...",88.0,"Halmtorvet 18, København 1700 Danmark","55.670574,12.560301",369.0,1700,2170.0,-2170.0,27
2160,Sushibar Fields,2.0,2.5,3.0,3.0,NaN,NaN,$$-$$$,2,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",31.0,"Arne Jaconsens Allé 12 Fields Shoppingcenter, ...","55.630043,12.577994",853.0,2300,2169.0,-2169.0,28
2169,Burger King Frederiksborggade,2.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,9.0,"Frederiksborggade 12, København 1360 Danmark","55.683167,12.572968",1115.0,1360,2168.0,-2168.0,29
2143,Ammessi,2.0,2.0,2.0,2.5,NaN,NaN,$$-$$$,2,Fransk,"<div class=""header_links""><a href=""/Restaurant...",25.0,"Vesterbrogade 70, København 1620 Danmark","55.6728,12.5519",2557.0,1620,2164.0,-2164.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1691,Vores Marked,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Delikatesseforretning,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Godthaabsvej 32, Frederiksberg, København 2000...","55.6866,12.53354",2176.0,2000,135.0,-135.0,2144
1683,Vinbodegaen Frederiksberg,5.0,NaN,NaN,NaN,NaN,188,$$-$$$,2,Vinstue,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Smallegade 39, Frederiksberg, København 2000 D...","55.679214,12.525812",5568.0,2000,133.0,-133.0,2145
144,Selma,5.0,5.0,5.0,5.0,NaN,2.984,$$-$$$,2,Dansk,"<div class=""header_links""><a href=""/Restaurant...",67.0,"Rømersgade 20, København 1362 Danmark","55.68476,12.569876",1900.0,1362,112.0,-112.0,2146
1500,Nostos,5.0,NaN,NaN,NaN,NaN,54,$,1,Græsk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Henrik Steffens Vej 2 Kælderen, Frederiksberg,...","55.67746,12.5381",256.0,1866,110.0,-110.0,2147
1462,Frederiksberg Ismejeri,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",4.0,"Finsensvej 41, Frederiksberg, København 2000 D...","55.681686,12.510245",539.0,2000,108.0,-108.0,2148
95,Alchemist,5.0,4.5,5.0,5.0,NaN,2.501,$$$$,3,International,"<div class=""header_links""><a href=""/Restaurant...",68.0,"Refshalevej 173C, København 1432 Danmark","55.693714,12.613528",770.0,1432,108.0,-108.0,2149
1467,Sansab,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,3.0,"Godthåbsvej 86, Frederiksberg, København 2000 ...","55.68854,12.52539",6163.0,2000,107.0,-107.0,2150
1371,Coffee No24,5.0,NaN,NaN,NaN,NaN,148,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Falkoner Allé 24, Frederiksberg, København 200...","55.680496,12.534007",568.0,2000,99.0,-99.0,2151
108,Terra Restaurant and Cocktail bar,5.0,4.5,5.0,5.0,NaN,3.728,$$-$$$,2,Italiensk,"<div class=""header_links""><a href=""/Restaurant...",82.0,"Ryesgade 65, København 2100 Danmark","55.694664,12.570705",628.0,2100,99.0,-99.0,2152
113,Lolly,5.0,4.5,4.5,5.0,NaN,154,$$-$$$,2,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",73.0,"Rådhusstræde 7 Kælderen, København 1466 Danmark","55.67683,12.574468",2939.0,1466,96.0,-96.0,2153
1303,Wafu Ramen,5.0,NaN,NaN,NaN,NaN,148,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",4.0,"Falkoner Alle 84, Frederiksberg, København 200...","55.685013,12.538459",6879.0,2000,95.0,-95.0,2154
1317,Cafe Delight - Frokost Cafe,5.0,NaN,NaN,NaN,NaN,101,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",4.0,"112 Borups Allé, Frederiksberg, København 2000...","55.693462,12.533664",251.0,2000,93.0,-93.0,2155
1263,Sushi Stop,5.0,NaN,NaN,NaN,NaN,NaN,$,1,Japansk,"<div class=""header_links""><a href=""/Restaurant...",4.0,"Vesterbrogade 187, Frederiksberg, København 18...","55.67066,12.53187",5068.0,1800,91.0,-91.0,2156
70,Jurfood,5.0,4.5,4.5,5.0,NaN,101,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",115.0,"Øresundsvej 150D, København 2300 Danmark","55.661644,12.630313",3557.0,2300,86.0,-86.0,2157
103,Punk Royale,5.0,5.0,5.0,4.5,NaN,992,$$$$,3,Europæisk,"<div class=""header_links""><a href=""/Restaurant...",82.0,"Dronningens Tværgade 10, København 1302 Danmark","55.68354,12.587821",2945.0,1302,85.0,-85.0,2158
1094,Le Gourmand,5.0,NaN,NaN,NaN,NaN,248,$$-$$$,2,Fransk,"<div class=""header_links""><a href=""/Restaurant...",20.0,"Værnedamsvej 3a, Frederiksberg, København 1819...","55.673145,12.550015",596.0,1819,73.0,-73.0,2159
1064,Quattro Fontane Due,5.0,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",8.0,"Falkoner Alle 42, Frederiksberg, København 200...","55.68267,12.53588",3108.0,2000,69.0,-69.0,2160
1065,Min Thai Takeaway,5.0,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,Thai,"<div class=""header_links""><a href=""/Restaurant...",8.0,"Dirch Passers Alle 84, Frederiksberg, Københav...","55.6852,12.500242",5566.0,2000,68.0,-68.0,2161
1000,Henckell,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Café,"<div class=""header_links""><a href=""/Restaurant...",8.0,"Gammel Kongevej 108, Frederiksberg, København ...","55.67604,12.543734",266.0,1850,62.0,-62.0,2162
43,Hey Darling,5.0,4.5,4.5,4.5,NaN,302,$$-$$$,2,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",85.0,"Øster Farimagsgade 24, København 2100 Danmark","55.69105,12.576097",1802.0,2100,54.0,-54.0,2163
451,Satang Thai Bistro,5.0,5.0,5.0,4.5,NaN,NaN,$$-$$$,2,Dansk,"<div class=""header_links""><a href=""/Restaurant...",23.0,"Åboulevard 51, Frederiksberg, København 1960 D...","55.685,12.548056",990.0,1960,28.0,-28.0,2164
426,Pizzicato,5.0,4.5,5.0,4.5,NaN,NaN,$,1,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",43.0,"Gammel Kongevej 101, Frederiksberg, København ...","55.675213,12.547089",5358.0,1850,25.0,-25.0,2165
24,Pizzeria Mamemi & Wine Bar,5.0,4.5,5.0,5.0,NaN,NaN,$,1,Italiensk,"<div class=""header_links""><a href=""/Restaurant...",930.0,"Mysundegade 28, København 1668 Danmark","55.667767,12.548116",1305.0,1668,7.0,-7.0,2166
4,The Pescatarian,5.0,4.5,5.0,5.0,NaN,597,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",201.0,Amaliegade 49 On the corner of Amaliegade & Es...,"55.68799,12.596316",1034.0,1256,6.0,-6.0,2167
29,Zahida at Kellerdirk,5.0,4.5,5.0,5.0,NaN,249,$$-$$$,2,Indisk,"<div class=""header_links""><a href=""/Restaurant...",879.0,Frederiksberg Allé 102 We are located inside t...,"55.67162,12.546196",821.0,1820,5.0,-5.0,2168
17,Søllerød Kro,5.0,4.5,5.0,5.0,5.0,1.797,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",337.0,"Soelleroedvej 35 DK-2840 Holte, København 2840...","55.813576,12.495031",962.0,2840,4.0,-4.0,2169
14,The Olive Kitchen & Bar,5.0,4.5,5.0,5.0,NaN,175,$$-$$$,2,Europæisk,"<div class=""header_links""><a href=""/Restaurant...",2141.0,"Nørregade 22, København 1165 Danmark","55.68125,12.571284",788.0,1165,3.0,-3.0,2170
3,Restaurant Krebsegaarden,5.0,4.5,5.0,5.0,4.5,396,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",1311.0,"Studiestraede 17, København 1455 Danmark","55.67872,12.569877",3211.0,1455,2.0,-2.0,2171
22,Grams Lækkerier,5.0,4.5,5.0,5.0,4.5,101,$,1,Café,"<div class=""header_links""><a href=""/Restaurant...",721.0,"Halmtorvet 1, København 1700 Danmark","55.671036,12.562724",262.0,1700,1.0,-1.0,2172
2184,Osteria 16,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Ravnsborggade 14B, København 2200 Danmark","55.68905,12.56273",2570.0,2200,NaN,NaN,2173

We notice that the last Observation has few reviews, no price class thus we choose to drop that observation, so it isn't ranked as the best restaurant in the data. The rest of our data looks correct.

In [14]:
new_trip_df_test[new_trip_df_test.Restaurant != 'Osteria 16']

,Restaurant,Main rating,Good price,Food,Service,Atmosphere,Price range,New price class,Price class numeric,Type of food,Type of food link,Number of reviews,Address,Location,Distance from Kgs. Nytorv (m),Postal code,Ranking on list,Reverse ranking on list,Full ranking
2142,Burger King,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Ellebjergvej 142, København 2450 Danmark","55.65107,12.50931",199.0,2450,2148.0,-2148.0,1
2147,Almanac,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Havnegade 44, København Danmark","55.67788,12.591933",459.0,,2146.0,-2146.0,2
2130,Star Midnight Kebab-Grill,1.0,NaN,NaN,NaN,NaN,101,$$-$$$,2,Grill,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Istedgade 101, København Danmark","55.6679,12.54941",3431.0,,2143.0,-2143.0,3
2134,Sunset Boulevard,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Københavns Hovedbanegård, København 1570 Danmark","55.67502,12.580593",908.0,1570,2137.0,-2137.0,4
2096,Dwaraka Indisk Restaurant,1.0,NaN,NaN,NaN,NaN,141,$$-$$$,2,Indisk,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Frederiksborgvej 221, St, København 2860 Danmark","55.72732,12.524776",1171.0,2860,2104.0,-2104.0,5
2088,McDonald's,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Fisketorvet Shopping Center, København 1560 Da...","55.66268,12.56187",772.0,1560,2103.0,-2103.0,6
2081,Præg Kaffebar,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Café,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Noerrebrogade 44, København 2200 Danmark","55.68939,12.55704",3390.0,2200,2100.0,-2100.0,7
2094,Cafe Wok,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,1.0,"Arne Jacobsens Alle 12, København 2300 Danmark","55.63103,12.57589",1811.0,2300,2099.0,-2099.0,8
2076,Kujaku,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Sushi,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Nørregade 28, København 1165 Danmark","55.458576,12.183993",540.0,1165,2090.0,-2090.0,9
2072,Gastronomia Italiana Dieci,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,1.0,"Sønder Boulevard 40, København 1720 Danmark","55.66731,12.55365",477.0,1720,2085.0,-2085.0,10
2051,Restaurant Balkonen,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Vesterbrogade 3 inside Tivoli, København 1500 ...","55.67465,12.56565",140.0,1500,2070.0,-2070.0,11
2046,Carisma ApS,1.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Amager Strandvej, København Danmark","55.65197,12.63984",613.0,,2053.0,-2053.0,12
2176,Dan Dan Restaurant,1.5,1.5,2.0,1.5,1.5,NaN,$,1,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",26.0,"Vimmelskaftet 39c 1. Sal 1161, København Danmark","55.67854,12.5755",528.0,,2179.0,-2179.0,13
2164,Yam Yam,1.5,1.0,1.0,2.5,NaN,NaN,$$$$$$,99,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",15.0,Central Station shopping center Station Square...,"55.63226,12.5723",2994.0,,2172.0,-2172.0,14
2141,Krunch,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,7.0,"Oeresundsvej 14, København 2300 Danmark","55.65898,12.60988",821.0,2300,2159.0,-2159.0,15
2146,Yoburger,1.5,NaN,NaN,NaN,NaN,148,$$-$$$,2,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Oestergade 52 Illum mall, København 1100 Danmark","55.67945,12.580216",908.0,1100,2141.0,-2141.0,16
2118,McDonald's,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,3.0,"Østerbrogade 120, København 2100 Danmark","55.70468,12.57768",2736.0,2100,2131.0,-2131.0,17
2103,Copenhagen Asian Food,1.5,NaN,NaN,NaN,NaN,175,$$-$$$,2,Kinesisk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Vimmelskaftet 39, C St, København 1161 Danmark","55.678505,12.575671",15869.0,1161,2120.0,-2120.0,18
2121,La Coruna Pizza,1.5,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,Pizza,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Sjælør Boulevard 46, København 2450 Danmark","55.65042,12.52806",562.0,2450,2115.0,-2115.0,19
2119,Cafe Restaurant Hollywood,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Amagerbrogade 250, København 2100 Danmark","55.64461,12.61483",2629.0,2100,2107.0,-2107.0,20
2089,Cafe Q,1.5,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,2.0,"Frederiksborgvej 169, København 2400 Danmark","55.72161,12.5297",3712.0,2400,2097.0,-2097.0,21
2170,Kokken & Karry,1.5,1.5,1.5,2.0,1.5,NaN,$,1,Indisk,"<div class=""header_links""><a href=""/Restaurant...",17.0,"Frederiksberg Alle 98, Frederiksberg, Københav...","55.674896,12.533771",577.0,1820,182.0,-182.0,22
2178,Cafe Sari,2.0,1.5,2.0,1.5,NaN,NaN,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",54.0,"Nytorv 3C, København 1450 Danmark","55.67772,12.572994",1673.0,1450,2180.0,-2180.0,23
2161,Hong Kong Restaurant,2.0,2.0,1.5,2.0,NaN,NaN,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",53.0,"Nyhavn 7, kld. 1051 Kobenhavn K., København Da...","55.68049,12.588333",1935.0,,2178.0,-2178.0,24
2163,"KFC, Rådhuspladsen",2.0,2.0,2.5,2.5,NaN,NaN,$,1,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",19.0,"Rådhuspladsen 55, København Danmark","55.67645,12.569685",2638.0,,2175.0,-2175.0,25
2172,Cafe-Pavillonen,2.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,11.0,"Edel Sauntes Alle 22, København 2100 Danmark","55.70091,12.56682",390.0,2100,2171.0,-2171.0,26
2179,Tapas Revolution,2.0,2.0,2.5,2.5,NaN,249,$$-$$$,2,Spansk,"<div class=""header_links""><a href=""/Restaurant...",88.0,"Halmtorvet 18, København 1700 Danmark","55.670574,12.560301",369.0,1700,2170.0,-2170.0,27
2160,Sushibar Fields,2.0,2.5,3.0,3.0,NaN,NaN,$$-$$$,2,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",31.0,"Arne Jaconsens Allé 12 Fields Shoppingcenter, ...","55.630043,12.577994",853.0,2300,2169.0,-2169.0,28
2169,Burger King Frederiksborggade,2.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,9.0,"Frederiksborggade 12, København 1360 Danmark","55.683167,12.572968",1115.0,1360,2168.0,-2168.0,29
2143,Ammessi,2.0,2.0,2.0,2.5,NaN,NaN,$$-$$$,2,Fransk,"<div class=""header_links""><a href=""/Restaurant...",25.0,"Vesterbrogade 70, København 1620 Danmark","55.6728,12.5519",2557.0,1620,2164.0,-2164.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,Pub 53,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,1.0,"Finsensvej 53, Frederiksberg, København 2000 D...","55.681915,12.506833",5691.0,2000,136.0,-136.0,2143
1691,Vores Marked,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Delikatesseforretning,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Godthaabsvej 32, Frederiksberg, København 2000...","55.6866,12.53354",2176.0,2000,135.0,-135.0,2144
1683,Vinbodegaen Frederiksberg,5.0,NaN,NaN,NaN,NaN,188,$$-$$$,2,Vinstue,"<div class=""header_links""><a href=""/Restaurant...",1.0,"Smallegade 39, Frederiksberg, København 2000 D...","55.679214,12.525812",5568.0,2000,133.0,-133.0,2145
144,Selma,5.0,5.0,5.0,5.0,NaN,2.984,$$-$$$,2,Dansk,"<div class=""header_links""><a href=""/Restaurant...",67.0,"Rømersgade 20, København 1362 Danmark","55.68476,12.569876",1900.0,1362,112.0,-112.0,2146
1500,Nostos,5.0,NaN,NaN,NaN,NaN,54,$,1,Græsk,"<div class=""header_links""><a href=""/Restaurant...",2.0,"Henrik Steffens Vej 2 Kælderen, Frederiksberg,...","55.67746,12.5381",256.0,1866,110.0,-110.0,2147
1462,Frederiksberg Ismejeri,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Dansk,"<div class=""header_links""><a href=""/Restaurant...",4.0,"Finsensvej 41, Frederiksberg, København 2000 D...","55.681686,12.510245",539.0,2000,108.0,-108.0,2148
95,Alchemist,5.0,4.5,5.0,5.0,NaN,2.501,$$$$,3,International,"<div class=""header_links""><a href=""/Restaurant...",68.0,"Refshalevej 173C, København 1432 Danmark","55.693714,12.613528",770.0,1432,108.0,-108.0,2149
1467,Sansab,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,NaN,NaN,3.0,"Godthåbsvej 86, Frederiksberg, København 2000 ...","55.68854,12.52539",6163.0,2000,107.0,-107.0,2150
1371,Coffee No24,5.0,NaN,NaN,NaN,NaN,148,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",3.0,"Falkoner Allé 24, Frederiksberg, København 200...","55.680496,12.534007",568.0,2000,99.0,-99.0,2151
108,Terra Restaurant and Cocktail bar,5.0,4.5,5.0,5.0,NaN,3.728,$$-$$$,2,Italiensk,"<div class=""header_links""><a href=""/Restaurant...",82.0,"Ryesgade 65, København 2100 Danmark","55.694664,12.570705",628.0,2100,99.0,-99.0,2152
113,Lolly,5.0,4.5,4.5,5.0,NaN,154,$$-$$$,2,Asiatisk,"<div class=""header_links""><a href=""/Restaurant...",73.0,"Rådhusstræde 7 Kælderen, København 1466 Danmark","55.67683,12.574468",2939.0,1466,96.0,-96.0,2153
1303,Wafu Ramen,5.0,NaN,NaN,NaN,NaN,148,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",4.0,"Falkoner Alle 84, Frederiksberg, København 200...","55.685013,12.538459",6879.0,2000,95.0,-95.0,2154
1317,Cafe Delight - Frokost Cafe,5.0,NaN,NaN,NaN,NaN,101,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",4.0,"112 Borups Allé, Frederiksberg, København 2000...","55.693462,12.533664",251.0,2000,93.0,-93.0,2155
1263,Sushi Stop,5.0,NaN,NaN,NaN,NaN,NaN,$,1,Japansk,"<div class=""header_links""><a href=""/Restaurant...",4.0,"Vesterbrogade 187, Frederiksberg, København 18...","55.67066,12.53187",5068.0,1800,91.0,-91.0,2156
70,Jurfood,5.0,4.5,4.5,5.0,NaN,101,$$-$$$,2,Café,"<div class=""header_links""><a href=""/Restaurant...",115.0,"Øresundsvej 150D, København 2300 Danmark","55.661644,12.630313",3557.0,2300,86.0,-86.0,2157
103,Punk Royale,5.0,5.0,5.0,4.5,NaN,992,$$$$,3,Europæisk,"<div class=""header_links""><a href=""/Restaurant...",82.0,"Dronningens Tværgade 10, København 1302 Danmark","55.68354,12.587821",2945.0,1302,85.0,-85.0,2158
1094,Le Gourmand,5.0,NaN,NaN,NaN,NaN,248,$$-$$$,2,Fransk,"<div class=""header_links""><a href=""/Restaurant...",20.0,"Værnedamsvej 3a, Frederiksberg, København 1819...","55.673145,12.550015",596.0,1819,73.0,-73.0,2159
1064,Quattro Fontane Due,5.0,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,"<div class=""header_links""><a href=""/Restaurant...","<div class=""header_links""><a href=""/Restaurant...",8.0,"Falkoner Alle 42, Frederiksberg, København 200...","55.68267,12.53588",3108.0,2000,69.0,-69.0,2160
1065,Min Thai Takeaway,5.0,NaN,NaN,NaN,NaN,NaN,$$-$$$,2,Thai,"<div class=""header_links""><a href=""/Restaurant...",8.0,"Dirch Passers Alle 84, Frederiksberg, Københav...","55.6852,12.500242",5566.0,2000,68.0,-68.0,2161
1000,Henckell,5.0,NaN,NaN,NaN,NaN,NaN,$$$$$$,99,Café,"<div class=""header_links""><a href=""/Restaurant...",8.0,"Gammel Kongevej 108, Frederiksberg, København ...","55.67604,12.543734",266.0,1850,62.0,-62.0,2162
43,Hey Darling,5.0,4.5,4.5,4.5,NaN,302,$$-$$$,2,Amerikansk,"<div class=""header_links""><a href=""/Restaurant...",85.0,"Øster Farimagsgade 24, København 2100 Danmark","55.69105,12.576097",1802.0,2100,54.0,-54.0,2163
451,Satang Thai Bistro,5.0,5.0,5.0,4.5,NaN,NaN,$$-$$$,2,Dansk,"<div class=""header_links""><a href=""/Restaurant...",23.0,"Åboulevard 51, Frederiksberg, København 1960 D...","55.685,12.548056",990.0,1960,28.0,-28.0,2164
426,Pizzicato,5.0,4.5,5.0,4.5,NaN,NaN,$,1,Fastfood,"<div class=""header_links""><a href=""/Restaurant...",43.0,"Gammel Kongevej 101, Frederiksberg, København ...","55.675213,12.547089",5358.0,1850,25.0,-25.0,2165
24,Pizzeria Mamemi & Wine Bar,5.0,4.5,5.0,5.0,NaN,NaN,$,1,Italiensk,"<div class=""header_links""><a href=""/Restaurant...",930.0,"Mysundegade 28, København 1668 Danmark","55.667767,12.548116",1305.0,1668,7.0,-7.0,2166
4,The Pescatarian,5.0,4.5,5.0,5.0,NaN,597,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",201.0,Amaliegade 49 On the corner of Amaliegade & Es...,"55.68799,12.596316",1034.0,1256,6.0,-6.0,2167
29,Zahida at Kellerdirk,5.0,4.5,5.0,5.0,NaN,249,$$-$$$,2,Indisk,"<div class=""header_links""><a href=""/Restaurant...",879.0,Frederiksberg Allé 102 We are located inside t...,"55.67162,12.546196",821.0,1820,5.0,-5.0,2168
17,Søllerød Kro,5.0,4.5,5.0,5.0,5.0,1.797,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",337.0,"Soelleroedvej 35 DK-2840 Holte, København 2840...","55.813576,12.495031",962.0,2840,4.0,-4.0,2169
14,The Olive Kitchen & Bar,5.0,4.5,5.0,5.0,NaN,175,$$-$$$,2,Europæisk,"<div class=""header_links""><a href=""/Restaurant...",2141.0,"Nørregade 22, København 1165 Danmark","55.68125,12.571284",788.0,1165,3.0,-3.0,2170
3,Restaurant Krebsegaarden,5.0,4.5,5.0,5.0,4.5,396,$$$$,3,Dansk,"<div class=""header_links""><a href=""/Restaurant...",1311.0,"Studiestraede 17, København 1455 Danmark","55.67872,12.569877",3211.0,1455,2.0,-2.0,2171
22,Grams Lækkerier,5.0,4.5,5.0,5.0,4.5,101,$,1,Café,"<div class=""header_links""><a href=""/Restaurant...",721.0,"Halmtorvet 1, København 1700 Danmark","55.671036,12.562724",262.0,1700,1.0,-1.0,2172

In [ ]:
#trip_df = trip_df.sort_values(by='Ranking on list', ascending=True)
#new_trip_df.to_csv("Tripadvisordata_final_test.csv", index=False)