In [11]:
import pandas as pd
import matplotlib
import numpy as np
# Import data 
data = pd.read_csv("Tripadvisordata.csv")

# edit missing data
data["Price class"] = data["Price class"].replace(np.nan, '--$$$$$$', regex=True)

In [12]:
# Translate the price class, to a numeric value

string = data["Price class"]
string = [word.replace('nan','--$$$$$$') for word in string]

# find indexnumbers for more places with missing with missing data
list = []
for i in range(len(string)):    
    if "$" not in string[i]:
        list.append(i)

for i in list: 
    string[i] = '--$$$$$$'

In [13]:
#control everything is still here
print(len(string))

# Filter the "-"'s      
new = []
for i in string:
    x = i.split('--')[1]
    new.append(x)


data["New Price class"] = new

#the tranlating keys
dollarsign = ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$']
values = [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 'null']

# make dataframe
d = {'New Price class': ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$'], 'Price Class Numeric': [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 99]}
translate_priceclass = pd.DataFrame(d)

2000

In [14]:
#join to dataframe
new_data = pd.merge(data, translate_priceclass, on='New Price class', how='left')

In [15]:
# Remove the word "anmeldelser" from "number of reviews column"

data["Number of reviews"] = data["Number of reviews"].replace(" anmeldelser", '', regex=True)

In [16]:
# Send to new csv

new_data.to_csv("Tripadvisordata_red.csv")

## Ideer 

Afstand/vurderings scatter (evt binned)
Afstand/kvalitet scatter (evt binned)
Afstand/service scatter (evt binned)
Pris/kvalitet plot

Vurdering/antal anmeldelser

Priskort
Kvallitetskort