In [2]:
import pandas as pd
import matplotlib
import numpy as np
# Import data 
data = pd.read_csv("Tripadvisordata_200.csv")

# edit missing data
data["Price class"] = data["Price class"].replace(np.nan, '--$$$$$$', regex=True)

In [3]:
# Translate the price class, to a numeric value

string = data["Price class"]
string = [word.replace('nan','--$$$$$$') for word in string]

# find indexnumbers for more places with missing with missing data
list = []
for i in range(len(string)):    
    if "$" not in string[i]:
        list.append(i)

for i in list: 
    string[i] = '--$$$$$$'

In [4]:
#control everything is still here
print(len(string))

# Filter the "-"'s      
new = []
for i in string:
    x = i.split('--')[1]
    new.append(x)


data["New Price class"] = new

#the tranlating keys
dollarsign = ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$']
values = [1, 1, 1, 2, 2, 2, 3, 3, 3, 'null']

# make dataframe
d = {'New Price class': ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$'], 'Price Class Numeric': [1, 1, 1, 2, 2, 2, 3, 3, 3, 99]}
translate_priceclass = pd.DataFrame(d)

100

In [5]:
#join to dataframe
new_data = pd.merge(data, translate_priceclass, on='New Price class', how='left')

In [6]:
# Remove the word "anmeldelser" from "number of reviews column"

new_data["Number of reviews"] = new_data["Number of reviews"].replace(" anmeldelser", '', regex=True)

In [7]:
# Make our own ranking system
new_data["Reverse ranking on list"] = (-1)*new_data["Ranking on list"]

# sort on rating, ranking on list and number of reviews
new_data = new_data.sort_values(by=["Main rating", "Reverse ranking on list", "Number of reviews"])

# Add ranking
new_data["Full ranking"] = range(1,len(new_data["Number of reviews"])+1)

In [12]:
køkken_list = ['Café', 'Afrikansk','Amerikansk','Arabisk','Argentinsk','Armensk','Aserbajdsjansk','Asiatisk','Bar','Belgisk','Brasiliansk','Britisk','Cajun og kreolsk','Cambodjansk','Canadisk','Caribisk','Centralasiatisk','Centraleuropæisk','Centralitaliensk','Dansk','Delikatesseforretning','Egyptisk','Etiopisk','Europæisk','Fastfood','Filippinsk','Fisk og skaldyr','Fra Lazio','Fra Shanghai','Fransk','Fusion','Gademad','Gastropub','Grill','Grillmad','Græsk','Hawaiiansk','Hollandsk','Hongkong','Indiansk','Indisk','Indonesisk','International','Irsk','Israelsk','Italiensk','Japansk','Kantonesisk','Kinesisk','Koreansk','Kroatisk','Latinamerikansk','Libanesisk','Malaysisk','Marokkansk','Mellemamerikansk','Mellemøstlig','Mexicansk','Middelhavsområdet','Moderne','Mongolsk','Nepalesisk','New Zealand','Norditaliensk','Norsk','Pakistansk','Persisk','Peruviansk','Pizza','Portugisisk''Pub','Russisk','Schweizisk','Siciliansk','Singaporeansk','Skandinavisk','Spansk','Specialiteter fra Beijing','Spisested','Steakhouse','Sund','Supper','Sushi','Svensk','Sydamerikansk','Syditaliensk','Szechuan','Taiwansk','Thai','Tibetansk','Toscansk','Tyrkisk','Tysk','Venezuelansk','Vietnamesisk','Vinstue','Xinjiang','Ølpub','Østeuropæisk','Østrigsk']
most_pop = ['Café', "Italiensk", "Pizza", "Indisk", "Fisk og skaldyr", "Thai", "Steakhouse", "Mexikansk"]

link_list = new_data["Type of food"]
link_df = pd.DataFrame(link_list)

list_test = [] #list of list over kitchens
for link in link_list:
    list_test.append([x for x in køkken_list if x in link])

In [14]:
link_test2 = []
for link in link_list:
    link_test2.append([x for x in most_pop if x in link])
link_test2

new_data["Pop kitchen"] = link_test2


print(new_data.dtypes)
new_data

Restaurant                        object
Main rating                      float64
Ranking on list                    int64
Price range                      float64
Price class                       object
Location                          object
Distance from Kgs. Nytorv (m)    float64
Good price                       float64
Food                             float64
Service                          float64
Atmosphere                       float64
Type of food                      object
Number of reviews                  int64
Address                           object
New Price class                   object
Price Class Numeric                int64
Reverse ranking on list            int64
Full ranking                       int32
Pop kitchen                       object
dtype: object

,Restaurant,Main rating,Ranking on list,Price range,Price class,Location,Distance from Kgs. Nytorv (m),Good price,Food,Service,Atmosphere,Type of food,Number of reviews,Address,New Price class,Price Class Numeric,Reverse ranking on list,Full ranking,Pop kitchen
99,Restaurant Kanalen,4.0,122,NaN,--$$$$---,"55.67551,12.593101",748.0,4.0,4.5,4.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",416,"Wilders Plads 2, København 1403 Danmark",$$$$,3,-122,1,[]
98,56°,4.5,120,248.000,--$$$$------,"55.684166,12.610067",1688.0,4.5,4.5,4.5,5.0,"<div class=""header_links""><a href=""/Restaurant...",208,"Krudtløbsvej 8, København 1439 Danmark",$$$$,3,-120,2,[]
97,Restaurant U Formel,4.5,116,NaN,--$$$$---,"55.67674,12.564756",1270.0,4.0,4.5,4.0,4.0,"<div class=""header_links""><a href=""/Restaurant...",504,"Studiestraede 69, København 1609 Danmark",$$$$,3,-116,3,[]
96,Christianshavns Færgecafé,4.5,115,288.000,--$$-$$$------,"55.67565,12.592472",708.0,4.0,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",450,"Strandgade 50, København 1401 Danmark",$$-$$$,2,-115,4,[Fisk og skaldyr]
95,District Tonkin - Bánh Mí,4.5,113,121.000,--$---------,"55.683544,12.587593",450.0,4.5,4.5,4.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",212,"Dronningens Tvaergade 12, København 1302 Danmark",$,1,-113,5,[]
93,Sidecar,4.5,107,295.000,--$$-$$$------,"55.687107,12.549084",2339.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",132,"Skyttegade 5, København 2200 Danmark",$$-$$$,2,-107,6,[]
92,Restaurant Kronborg,4.5,101,436.000,--$$-$$$---,"55.677628,12.574495",662.0,4.0,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",478,"Brolæggerstræde 12, København 1211 Danmark",$$-$$$,2,-101,7,[]
91,Slurp Ramen Joint,4.5,95,134.000,--$$-$$$---------,"55.685116,12.567047",1217.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",145,"Nansensgade 90, København 1366 Danmark",$$-$$$,2,-95,8,[]
90,Sticks'n'Sushi,4.5,93,550.000,--$$-$$$---------,"55.684326,12.566069",1235.0,4.0,4.5,4.0,4.0,"<div class=""header_links""><a href=""/Restaurant...",434,"Nansensgade 59, København 1366 Danmark",$$-$$$,2,-93,9,[Fisk og skaldyr]
89,Damindra,4.5,91,764.000,--$$$$---------,"55.6788,12.590855",438.0,4.0,4.5,4.0,4.0,"<div class=""header_links""><a href=""/Restaurant...",481,"Holbergsgade 26 Copenhagen C, København 1054 D...",$$$$,3,-91,10,[]
88,Sticks'n'Sushi,4.5,90,3.688,--$$-$$$---------,"55.683357,12.584706",377.0,4.0,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",264,"Borgergade 13, København 1300 Danmark",$$-$$$,2,-90,11,[Fisk og skaldyr]
87,Sticks'n'Sushi,4.5,89,550.000,--$$-$$$---------,"55.669716,12.554844",2165.0,4.0,4.5,4.5,4.0,"<div class=""header_links""><a href=""/Restaurant...",310,"Istedgade 62, København 1650 Danmark",$$-$$$,2,-89,12,[]
86,Fleisch,4.5,88,NaN,--$$-$$$---,"55.66907,12.558636",2010.0,4.0,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",432,"Slagterboderne 7 Kødbyen, København 1716 Danmark",$$-$$$,2,-88,13,[]
85,Fuego,4.5,87,4.023,--$$$$---------,"55.678135,12.588968",363.0,4.0,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",677,"Holbergsgade 14, København 1057 Danmark",$$$$,3,-87,14,[Steakhouse]
83,Ristorante Buono,4.5,84,NaN,--$$-$$$---------,"55.67157,12.559303",1819.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",169,"Abel Cathrines Gade 21, København 1654 Danmark",$$-$$$,2,-84,15,[Italiensk]
82,Formel B,4.5,83,NaN,--$$$$---,"55.67058,12.535531",3225.0,4.0,4.5,4.5,4.0,"<div class=""header_links""><a href=""/Restaurant...",608,"Vesterbrogade 182, København 1800 Danmark",$$$$,3,-83,16,[]
81,Restaurant Koefoed,4.5,82,1.106,--$$$$---,"55.683163,12.585317",361.0,4.0,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",674,"Landgreven 3, København 1301 Danmark",$$$$,3,-82,17,[]
80,Halifax København K,4.5,81,NaN,--$$-$$$------,"55.678185,12.569627",934.0,4.0,4.5,4.5,4.0,"<div class=""header_links""><a href=""/Restaurant...",258,"Larsbjoernsstraede 9, København 1454 Danmark",$$-$$$,2,-81,18,[]
79,simpleRAW,4.5,80,148.000,--$$-$$$---------,"55.679848,12.575983",515.0,4.0,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",230,"Gråbrødretorv 9, København 1154 Danmark",$$-$$$,2,-80,19,[]
78,Pony,4.5,79,449.000,--$$$$---,"55.67022,12.540435",2950.0,4.0,4.5,4.5,4.0,"<div class=""header_links""><a href=""/Restaurant...",274,"Vesterbrogade 135, København 1620 Danmark",$$$$,3,-79,20,[]
77,Restaurant Brace,4.5,78,778.000,--$$$$------,"55.679573,12.568498",985.0,4.0,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",199,"Teglgardstraede 8A, København 1452 Danmark",$$$$,3,-78,21,[Italiensk]
76,Asador,4.5,77,899.000,--$$-$$$---------,"55.672287,12.590602",945.0,4.0,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",439,"Overg. Neden Vandet 17, København 1414 Danmark",$$-$$$,2,-77,22,[Steakhouse]
75,Cafe Gl. Torv - Huset med det grønne træ,4.5,76,181.000,--$$-$$$,"55.678246,12.572392",764.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",195,"Gammeltorv 20, København 1457 Danmark",$$-$$$,2,-76,23,[]
74,Toto Vin & Spisebar,4.5,75,NaN,--$$-$$$------,"55.65585,12.60989",3130.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",87,"Amagerbrogade 145, København 2300 Danmark",$$-$$$,2,-75,24,[]
73,Restaurant Palægade,4.5,74,402.000,--$$-$$$---,"55.68222,12.586586",291.0,4.0,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",327,"Palaegade 8, København 1261 Danmark",$$-$$$,2,-74,25,[]
72,Black Swan,4.5,73,NaN,--$$-$$$,"55.68648,12.587611",754.0,4.5,4.0,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",117,"Borgergade 93, København 1300 Danmark",$$-$$$,2,-73,26,[]
71,Restaurant AOC,4.5,72,NaN,--$$$$---,"55.68324,12.5892",480.0,4.0,4.5,4.5,4.0,"<div class=""header_links""><a href=""/Restaurant...",326,"Dronningens Tværgade 2, København 1302 Danmark",$$$$,3,-72,27,[]
70,RetroGusto,4.5,71,NaN,--$$-$$$---------,"55.67287,12.558201",1811.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",571,"Vesterbrogade 31, 1620 Kbh-V Vesterbrogade 31,...",$$-$$$,2,-71,28,[Italiensk]
69,Den Lille Fede Restaurant,4.5,70,6.706,--$$$$---,"55.68215,12.585653",258.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",721,"Store Kongensgade 17, København 1264 Danmark",$$$$,3,-70,29,[]
68,Ravnsborg Kitchen & Bar,4.5,69,248.000,--$$-$$$---------,"55.687878,12.561117",1692.0,4.0,4.0,3.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",338,"Ravnsborggade 1, København 2200 Danmark",$$-$$$,2,-69,30,"[Café, Italiensk]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Goomi,4.5,25,449.000,--$$-$$$------,"55.673717,12.589529",772.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",271,"Strandgade 20, København 1401 Danmark",$$-$$$,2,-25,71,[]
25,Café Patina,4.5,24,201.000,--$$-$$$---------,"55.66791,12.548128",2629.0,4.5,4.5,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",96,"Mysundegade 26, København 1668 Danmark",$$-$$$,2,-24,72,[]
24,Studio - The Standard,4.5,22,NaN,--$$$$---,"55.67783,12.592299",562.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",453,"Havnegade 44, København 1058 Danmark",$$$$,3,-22,73,[]
23,The Red Box,4.5,21,490.000,--$$-$$$---------,"55.683018,12.586555",369.0,4.5,4.5,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",515,"Store Kongensgade 42, København 1264 Danmark",$$-$$$,2,-21,74,[]
22,BODIL - et spisested,4.5,20,758.000,--$$-$$$------,"55.66416,12.545544",2994.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",208,"Søndre Boulevard 105, København 1720 Danmark",$$-$$$,2,-20,75,[]
21,Restaurant Schonnemann,4.5,19,NaN,--$$-$$$,"55.68277,12.575768",613.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",162,"Haydee Plads 16-28, København 1127 Danmark",$$-$$$,2,-19,76,[]
20,Basso København,4.5,18,496.000,--$$-$$$---------,"55.68388,12.58657",459.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",345,"Dronningens Tvaergade 22, København 1302 Danmark",$$-$$$,2,-18,77,[Italiensk]
19,Trattoria SUD,4.5,17,999.000,--$$-$$$---------,"55.684696,12.568494",1115.0,4.5,4.5,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",306,Frederiksborggade 27 Close to Nørreport statio...,$$-$$$,2,-17,78,[Italiensk]
18,Restaurant leaven,4.5,16,697.000,--$$$$------,"55.681232,12.584203",140.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",309,"Ny Adelgade 4, København 1104 Danmark",$$$$,3,-16,79,[Fisk og skaldyr]
17,Husmann's Vinstue,4.5,14,NaN,--$$-$$$---,"55.677773,12.570244",908.0,4.5,4.5,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",255,"Larsbjørnsstræde 2, København 1454 Danmark",$$-$$$,2,-14,80,[]
16,Kokkeriet,4.5,13,972.000,--$$$$---,"55.687626,12.585126",853.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",770,"Kronprinsessegade 64, København 1306 Danmark",$$$$,3,-13,81,[]
15,Banana Joe,4.5,12,54.000,--$---------,"55.690052,12.559024",1935.0,5.0,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",411,"Elmegade 18, København 2200 Danmark",$,1,-12,82,[]
14,Marv & Ben,4.5,10,838.000,--$$$$---,"55.677303,12.576991",540.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",645,"Snaregade 4, København 1205 Danmark",$$$$,3,-10,83,[]
13,Bowl Market Copenhagen,4.5,9,80.000,--$$-$$$---,"55.672024,12.555914",1981.0,4.5,5.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",113,"Gasvaerksvej 3, København 1656 Danmark",$$-$$$,2,-9,84,[]
12,Café Komplet,4.5,9,201.000,--$$-$$$------,"55.684692,12.588044",577.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",350,"Store Kongensgade 65, København 1264 Danmark",$$-$$$,2,-9,85,[]
11,Geranium,4.5,8,1.489,--$$$$---,"55.7036,12.572",2736.0,4.5,5.0,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",1054,"Per Henrik Lings Alle 4, 8., København Danmark",$$$$,3,-8,86,[]
8,Bastard Café,4.5,6,NaN,--$------,"55.67645,12.574973",698.0,4.5,4.0,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",242,"Rådhusstræde 13, København 1466 Danmark",$,1,-6,87,[Café]
4,Frederiks Have,4.5,3,536.000,--$$$$---,"55.679256,12.524991",3712.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",529,"Smallegade 41, Frederiksberg, København 2000 D...",$$$$,3,-3,88,[]
3,Mielcke & Hurtigkarl,4.5,2,2.615,--$$$$---,"55.67468,12.530938",3390.0,4.5,4.5,4.5,4.5,"<div class=""header_links""><a href=""/Restaurant...",253,"Fr.Berg Runddel 1, Frederiksberg, København 20...",$$$$,3,-2,89,[]
1,Enomania,4.5,1,NaN,--$$-$$$------,"55.670773,12.531963",3431.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",245,"Vesterbrogade 187, Frederiksberg, København 18...",$$-$$$,2,-1,90,[Italiensk]
94,Alchemist,5.0,108,2.501,--$$$$---,"55.693714,12.613528",2391.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",68,"Refshalevej 173C, København 1432 Danmark",$$$$,3,-108,91,[]
84,Jurfood,5.0,86,101.000,--$$-$$$------,"55.661644,12.630313",3539.0,4.5,4.5,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",115,"Øresundsvej 150D, København 2300 Danmark",$$-$$$,2,-86,92,[Café]
54,Hey Darling,5.0,54,302.000,--$$-$$$------,"55.69105,12.576097",1332.0,4.5,4.5,4.5,NaN,"<div class=""header_links""><a href=""/Restaurant...",85,"Øster Farimagsgade 24, København 2100 Danmark",$$-$$$,2,-54,93,[]
10,Pizzeria Mamemi & Wine Bar,5.0,7,NaN,--$---------,"55.667767,12.548116",2638.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",930,"Mysundegade 28, København 1668 Danmark",$,1,-7,94,"[Italiensk, Pizza]"
9,The Pescatarian,5.0,6,597.000,--$$$$------,"55.68799,12.596316",1171.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",201,Amaliegade 49 On the corner of Amaliegade & Es...,$$$$,3,-6,95,[Fisk og skaldyr]
7,Zahida at Kellerdirk,5.0,5,248.000,--$$-$$$---------,"55.67162,12.546196",2557.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",879,Frederiksberg Allé 102 We are located inside t...,$$-$$$,2,-5,96,[Indisk]
6,Søllerød Kro,5.0,4,1.797,--$$$$------,"55.813576,12.495031",15869.0,4.5,5.0,5.0,5.0,"<div class=""header_links""><a href=""/Restaurant...",337,"Soelleroedvej 35 DK-2840 Holte, København 2840...",$$$$,3,-4,97,[]
5,The Olive Kitchen & Bar,5.0,3,174.000,--$$-$$$---------,"55.68125,12.571284",821.0,4.5,5.0,5.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",2141,"Nørregade 22, København 1165 Danmark",$$-$$$,2,-3,98,[]
2,Restaurant Krebsegaarden,5.0,2,396.000,--$$$$---,"55.67872,12.569877",908.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",1311,"Studiestraede 17, København 1455 Danmark",$$$$,3,-2,99,[]
0,Grams Lækkerier,5.0,1,101.000,--$---------,"55.671036,12.562724",1673.0,4.5,5.0,5.0,4.5,"<div class=""header_links""><a href=""/Restaurant...",721,"Halmtorvet 1, København 1700 Danmark",$,1,-1,100,[Café]

In [153]:
# Send to new csv

new_data.to_csv("Tripadvisordata_red_200.csv")