In [7]:
import pandas as pd
import matplotlib
import numpy as np
# Import data 
data = pd.read_csv("Tripadvisordata.csv")

# edit missing data
data["Price class"] = data["Price class"].replace(np.nan, '--$$$$$$', regex=True)

{nan, '--$$-$$$---------', '--$------', '--$$-$$$------', '------', '--$$$$------', '--$$$$---', '--$---------', '--$---', '---', '--$', '------------', '--$$$$---------', '--$$-$$$', '---------', '--$$$$', '--$$-$$$---'}

,Name,Main rating,Ranking on list,Price range,Price class,Number of reviews,Location,Distance from Kgs. Nytorv,Service,Type of food,Address,Good price,Food,Atmosphere
0,Restaurant Grønnegade,4.5,28.0,------16201.-664.,--$$$$---,525 anmeldelser,"55.681705,12.583386",199.0,4.5,Dansk,"Grønnegade 39, København 1107 Danmark",4.5,4.5,4.5
1,Basso København,4.5,18.0,------16127.-496.,--$$-$$$---------,345 anmeldelser,"55.68388,12.58657",459.0,4.5,Europæisk,"Dronningens Tvaergade 22, København 1302 Danmark",4.5,4.5,NaN
2,Enomania,4.5,1.0,------16134.-168.,--$$-$$$------,245 anmeldelser,"55.670773,12.531963",3431.0,5.0,Europæisk,"Vesterbrogade 187, Frederiksberg, København 18...",4.5,5.0,4.5
3,Restaurant Krebsegaarden,5.0,2.0,------16161.-396.,--$$$$---,1.310 anmeldelser,"55.67872,12.569877",908.0,5.0,Dansk,"Studiestraede 17, København 1455 Danmark",4.5,5.0,4.5
4,The Pescatarian,5.0,6.0,------16402.-597.,--$$$$------,198 anmeldelser,"55.68799,12.596316",1171.0,5.0,Dansk,Amaliegade 49 On the corner of Amaliegade & Es...,4.5,5.0,NaN

In [3]:
# Translate the price class, to a numeric value

string = data["Price class"]
string = [word.replace('nan','--$$$$$$') for word in string]

# find indexnumbers for more places with missing with missing data
list = []
for i in range(len(string)):    
    if "$" not in string[i]:
        list.append(i)

for i in list: 
    string[i] = '--$$$$$$'

In [4]:
#control everything is still here
print(len(string))

# Filter the "-"'s      
new = []
for i in string:
    x = i.split('--')[1]
    new.append(x)


data["New Price class"] = new

dollarsign = ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$']
values = [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 'null']


d = {'New Price class': ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$'], 'Price Class Numeric': [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 99]}
translate_priceclass = pd.DataFrame(d)

2000

In [5]:
new_data = pd.merge(data, translate_priceclass, on='New Price class', how='left')

new_data.head()

print(set(new_data["Price class"]))
print(set(new_data["New Price class"]))
print(set(new_data["Price Class Numeric"]))

{'--$$-$$$---------', '--$------', '--$$-$$$------', '------', '--$$$$$$', '--$$$$------', '--$$$$---', '--$---------', '--$---', '---', '--$', '------------', '--$$$$---------', '--$$-$$$', '---------', '--$$$$', '--$$-$$$---'}
{'$$-$$$', '$', '$$$$', '$$$$$$'}
{1.0, 2.5, 99.0, 4.0}

In [10]:
# Remove the word "anmeldelser" from "number of reviews column"

data["Number of reviews"] = data["Number of reviews"].replace(" anmeldelser", '', regex=True)

In [6]:
# Send to new csv

new_data.to_csv("Tripadvisordata_red.csv")

## Ideer 

Afstand/vurderings scatter (evt binned)
Afstand/kvalitet scatter (evt binned)
Afstand/service scatter (evt binned)
Pris/kvalitet plot

Vurdering/antal anmeldelser

Priskort
Kvallitetskort