In [35]:
import pandas as pd
import matplotlib
import numpy as np
# Import data 
data = pd.read_csv("Tripadvisordata.csv")
#data = pd.read_excel("data cleaned.xlsx", sheet_name="Sheet1")
#print(data["Price class"])
#print(data["Price class"].sort_values())
data["Price class"] = data["Price class"].replace(np.nan, '--$$$$$$', regex=True)

In [36]:
string = data["Price class"]

#string = [word.replace('','<br />') for word in words]




string = [word.replace('nan','--$$$$$$') for word in string]

list = []
for i in range(len(string)):    
    if "$" not in string[i]:
        list.append(i)

for i in list: 
    string[i] = '--$$$$$$'

In [40]:
#string = list(data["Price class"])

print(len(string))

      
new = []
for i in string:
    x = i.split('--')[1]
    new.append(x)


data["New Price class"] = new

dollarsign = ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$']
values = [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 'null']


d = {'New Price class': ["$", "$-$$", "$$", "$$-$$$", "$$$", "$$$-$$$$","$$$$", "$$$$-$$$$$", "$$$$$", '$$$$$$'], 'Price Class Numeric': [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 99]}
translate_priceclass = pd.DataFrame(d)

1000

In [41]:
new_data = pd.merge(data, translate_priceclass, on='New Price class', how='left')

In [42]:
# Send to new csv

new_data.to_csv("Tripadvisordata_red.csv")

## Ideer 

Afstand/vurderings scatter (evt binned)
Afstand/kvalitet scatter (evt binned)
Afstand/service scatter (evt binned)
Pris/kvalitet plot

Vurdering/antal anmeldelser

Priskort
Kvallitetskort