In [17]:
import pandas as pd
import numpy as np
data = pd.read_csv("Tripadvisordata_final.csv")
data_food = pd.read_csv('data_food_poscode.csv')

In [3]:
data

,Restaurant,Main rating,Ranking on list,Price range,Price class,Location,Good price,Food,Service,Atmosphere,Type of food,Number of reviews,Address,Type of food link,New price class,Price class numeric,Reverse ranking on list,Full ranking,Distance from Kgs. Nytorv (m),Postal code
0,Burger King,1.0,2148.0,NaN,--$$$$$$,"55.65107,12.50931",NaN,NaN,NaN,NaN,NaN,2.0,"Ellebjergvej 142, København 2450 Danmark",NaN,$$$$$$,99,-2148.0,1,199.0,2450
1,Almanac,1.0,2146.0,NaN,---,"55.67788,12.591933",NaN,NaN,NaN,NaN,Dansk,2.0,"Havnegade 44, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2146.0,2,459.0,
2,Star Midnight Kebab-Grill,1.0,2143.0,101,--$$-$$$---,"55.6679,12.54941",NaN,NaN,NaN,NaN,Grill,3.0,"Istedgade 101, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2143.0,3,3431.0,
3,Sunset Boulevard,1.0,2137.0,NaN,--$$$$$$,"55.67502,12.580593",NaN,NaN,NaN,NaN,NaN,2.0,"Københavns Hovedbanegård, København 1570 Danmark",NaN,$$$$$$,99,-2137.0,4,908.0,1570
4,Dwaraka Indisk Restaurant,1.0,2104.0,141,--$$-$$$---,"55.72732,12.524776",NaN,NaN,NaN,NaN,Indisk,1.0,"Frederiksborgvej 221, St, København 2860 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2104.0,5,1171.0,2860
5,McDonald's,1.0,2103.0,NaN,---,"55.66268,12.56187",NaN,NaN,NaN,NaN,Fastfood,1.0,"Fisketorvet Shopping Center, København 1560 Da...","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2103.0,6,772.0,1560
6,Præg Kaffebar,1.0,2100.0,NaN,---,"55.68939,12.55704",NaN,NaN,NaN,NaN,Café,1.0,"Noerrebrogade 44, København 2200 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2100.0,7,3390.0,2200
7,Cafe Wok,1.0,2099.0,NaN,--$$$$$$,"55.63103,12.57589",NaN,NaN,NaN,NaN,NaN,1.0,"Arne Jacobsens Alle 12, København 2300 Danmark",NaN,$$$$$$,99,-2099.0,8,1811.0,2300
8,Kujaku,1.0,2090.0,NaN,---,"55.458576,12.183993",NaN,NaN,NaN,NaN,Sushi,1.0,"Nørregade 28, København 1165 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2090.0,9,540.0,1165
9,Gastronomia Italiana Dieci,1.0,2085.0,NaN,--$$$$$$,"55.66731,12.55365",NaN,NaN,NaN,NaN,NaN,1.0,"Sønder Boulevard 40, København 1720 Danmark",NaN,$$$$$$,99,-2085.0,10,477.0,1720
10,Restaurant Balkonen,1.0,2070.0,NaN,---,"55.67465,12.56565",NaN,NaN,NaN,NaN,Dansk,1.0,"Vesterbrogade 3 inside Tivoli, København 1500 ...","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2070.0,11,140.0,1500
11,Carisma ApS,1.0,2053.0,NaN,---,"55.65197,12.63984",NaN,NaN,NaN,NaN,Fastfood,1.0,"Amager Strandvej, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2053.0,12,613.0,
12,Dan Dan Restaurant,1.5,2179.0,NaN,--$---------,"55.67854,12.5755",1.5,2.0,1.5,1.5,Asiatisk,26.0,"Vimmelskaftet 39c 1. Sal 1161, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$,1,-2179.0,13,528.0,
13,Yam Yam,1.5,2172.0,NaN,---,"55.63226,12.5723",1.0,1.0,2.5,NaN,Asiatisk,15.0,Central Station shopping center Station Square...,"<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,-2172.0,14,2994.0,
14,Krunch,1.5,2159.0,NaN,--$$$$$$,"55.65898,12.60988",NaN,NaN,NaN,NaN,NaN,7.0,"Oeresundsvej 14, København 2300 Danmark",NaN,$$$$$$,99,-2159.0,15,821.0,2300
15,Yoburger,1.5,2141.0,148,--$$-$$$------,"55.67945,12.580216",NaN,NaN,NaN,NaN,Amerikansk,3.0,"Oestergade 52 Illum mall, København 1100 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2141.0,16,908.0,1100
16,McDonald's,1.5,2131.0,NaN,--$$$$$$,"55.70468,12.57768",NaN,NaN,NaN,NaN,NaN,3.0,"Østerbrogade 120, København 2100 Danmark",NaN,$$$$$$,99,-2131.0,17,2736.0,2100
17,Copenhagen Asian Food,1.5,2120.0,175,--$$-$$$---,"55.678505,12.575671",NaN,NaN,NaN,NaN,Kinesisk,2.0,"Vimmelskaftet 39, C St, København 1161 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2120.0,18,15869.0,1161
18,La Coruna Pizza,1.5,2115.0,NaN,--$$-$$$---,"55.65042,12.52806",NaN,NaN,NaN,NaN,Pizza,2.0,"Sjælør Boulevard 46, København 2450 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2115.0,19,562.0,2450
19,Cafe Restaurant Hollywood,1.5,2107.0,NaN,--$$$$$$,"55.64461,12.61483",NaN,NaN,NaN,NaN,NaN,2.0,"Amagerbrogade 250, København 2100 Danmark",NaN,$$$$$$,99,-2107.0,20,2629.0,2100
20,Cafe Q,1.5,2097.0,NaN,--$$$$$$,"55.72161,12.5297",NaN,NaN,NaN,NaN,NaN,2.0,"Frederiksborgvej 169, København 2400 Danmark",NaN,$$$$$$,99,-2097.0,21,3712.0,2400
21,Kokken & Karry,1.5,182.0,NaN,--$---,"55.674896,12.533771",1.5,1.5,2.0,1.5,Indisk,17.0,"Frederiksberg Alle 98, Frederiksberg, Københav...","<div class=""header_links""><a href=""/Restaurant...",$,1,-182.0,22,577.0,1820
22,Cafe Sari,2.0,2180.0,NaN,--$$-$$$------,"55.67772,12.572994",1.5,2.0,1.5,NaN,Café,54.0,"Nytorv 3C, København 1450 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2180.0,23,1673.0,1450
23,Hong Kong Restaurant,2.0,2178.0,NaN,--$$-$$$,"55.68049,12.588333",2.0,1.5,2.0,NaN,"<div class=""header_links""><a href=""/Restaurant...",53.0,"Nyhavn 7, kld. 1051 Kobenhavn K., København Da...","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2178.0,24,1935.0,
24,"KFC, Rådhuspladsen",2.0,2175.0,NaN,--$---,"55.67645,12.569685",2.0,2.5,2.5,NaN,Amerikansk,19.0,"Rådhuspladsen 55, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$,1,-2175.0,25,2638.0,
25,Cafe-Pavillonen,2.0,2171.0,NaN,--$$$$$$,"55.70091,12.56682",NaN,NaN,NaN,NaN,NaN,11.0,"Edel Sauntes Alle 22, København 2100 Danmark",NaN,$$$$$$,99,-2171.0,26,390.0,2100
26,Tapas Revolution,2.0,2170.0,249,--$$-$$$---,"55.670574,12.560301",2.0,2.5,2.5,NaN,Spansk,88.0,"Halmtorvet 18, København 1700 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2170.0,27,369.0,1700
27,Sushibar Fields,2.0,2169.0,NaN,--$$-$$$---------,"55.630043,12.577994",2.5,3.0,3.0,NaN,Asiatisk,31.0,"Arne Jaconsens Allé 12 Fields Shoppingcenter, ...","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2169.0,28,853.0,2300
28,Burger King Frederiksborggade,2.0,2168.0,NaN,--$$$$$$,"55.683167,12.572968",NaN,NaN,NaN,NaN,NaN,9.0,"Frederiksborggade 12, København 1360 Danmark",NaN,$$$$$$,99,-2168.0,29,1115.0,1360
29,Ammessi,2.0,2164.0,NaN,--$$-$$$---------,"55.6728,12.5519",2.0,2.0,2.5,NaN,Fransk,25.0,"Vesterbrogade 70, København 1620 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,-2164.0,30,2557.0,1620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2290,Den Persiske Kat,NaN,NaN,94,--$$-$$$---,"55.677967,12.570004",NaN,NaN,NaN,NaN,International,1329.0,"Larsbjørnsstræde 6 k. tv, København 1454 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2291,28852.0,1454
2291,Amager Pizza Palace,NaN,NaN,NaN,--$$-$$$---,"55.64416,12.6156",NaN,NaN,NaN,NaN,Pizza,1384.0,"Amagerbrogade 265, København 2300 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2292,3303.0,2300
2292,Gasoline Grill,NaN,NaN,NaN,---,"55.64606,12.61395",NaN,NaN,NaN,NaN,Amerikansk,1384.0,"Bryggernes Plads 1, København 1799 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2293,5196.0,1799
2293,Istanbul Grill,NaN,NaN,NaN,--$$$$$$,"55.6489,12.61354",NaN,NaN,NaN,NaN,NaN,1384.0,"Amagerbrogade 217A, København 1051 Danmark",NaN,$$$$$$,99,NaN,2294,4089.0,1051
2294,Ahoy Bar,NaN,NaN,NaN,---,"55.67527,12.58678",NaN,NaN,NaN,NaN,Dansk,1405.0,"Børskaj 12, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2295,1235.0,
2295,Ilimo,NaN,NaN,NaN,------,"55.69304,12.612353",NaN,NaN,NaN,NaN,Gademad,1440.0,"Refshalevej 167, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2296,3055.0,
2296,Hovedindgangen,NaN,NaN,NaN,---,"55.67465,12.56565",NaN,NaN,NaN,NaN,Dansk,1572.0,"Vesterbrogade 3, København 1630 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2297,998.0,1630
2297,Cafe' PhoneDoktor,NaN,NaN,NaN,--$---,"55.68536,12.56768",NaN,NaN,NaN,NaN,Café,1591.0,"Frederiksborggade 42, København 1360 Danmark","<div class=""header_links""><a href=""/Restaurant...",$,1,NaN,2298,596.0,1360
2298,Made Restaurant & Cocktails,NaN,NaN,NaN,---,"55.68466,12.5676",NaN,NaN,NaN,NaN,International,1591.0,"Nørre Farimagsgade 57, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2299,2781.0,
2299,Intensia,NaN,NaN,NaN,---,"55.67492,12.56181",NaN,NaN,NaN,NaN,Café,1905.0,"Vester Farimagsgade 3, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2300,2287.0,
2300,Norrlyst,NaN,NaN,222,--$$-$$$------,"55.67763,12.57634",NaN,NaN,NaN,NaN,Dansk,2581.0,"Kompagnistraede 8, København 1208 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2301,2314.0,1208
2301,Evoo,NaN,NaN,202,--$$-$$$------,"55.67641,12.57472",NaN,NaN,NaN,NaN,Fusion,2581.0,"Radhusstræde 13, København 1466 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2302,2286.0,1466
2302,LiA Gelato,NaN,NaN,215,--$$-$$$---------,"55.67579,12.57384",NaN,NaN,NaN,NaN,Café,2581.0,"Loengangstraede 19, København 1468 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2303,1015.0,1468
2303,Cafe Heaven,NaN,NaN,302,--$$-$$$---,"55.67814,12.57571",NaN,NaN,NaN,NaN,Arabisk,2581.0,"Vimmelskaftet 41F, København 1161 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2304,917.0,1161
2304,Shawarma Kebap Palace,NaN,NaN,NaN,---,"55.6769,12.57011",NaN,NaN,NaN,NaN,Tyrkisk,2834.0,"Frederiksberggade 30, København 1459 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2305,4669.0,1459
2305,McDonald's,NaN,NaN,NaN,---,"55.66273,12.56147",NaN,NaN,NaN,NaN,Fastfood,2850.0,Kalvebod Brygge 59 Fisketorvet Shopping Center...,"<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2306,2379.0,1560
2306,Cafe Hannemann,NaN,NaN,NaN,--$$$$$$,"55.62739,12.57947",NaN,NaN,NaN,NaN,NaN,2975.0,"Hannemanns Alle 53, København 2300 Danmark",NaN,$$$$$$,99,NaN,2307,3704.0,2300
2307,Break,NaN,NaN,NaN,---,"55.62354,12.577581",NaN,NaN,NaN,NaN,Café,2975.0,"Next to Fasanvej Metro Station, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2308,1735.0,
2308,Lime,NaN,NaN,195,--$$-$$$---,"55.67592,12.56586",NaN,NaN,NaN,NaN,Thai,3070.0,"Jernbanegade 7, København 1608 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2309,596.0,1608
2309,Clausens sandwich og juice,NaN,NaN,NaN,--$$$$$$,"55.676098,12.568337",NaN,NaN,NaN,NaN,NaN,3072.0,"Århusgade 62, kld, København 2100 Danmark",NaN,$$$$$$,99,NaN,2310,2828.0,2100
2310,Mooch,NaN,NaN,NaN,---,"55.675003,12.560683",NaN,NaN,NaN,NaN,Sund,3129.0,"Ved Vesterport 6, København 1612 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2311,5199.0,1612
2311,Restaurant Kliche,NaN,NaN,NaN,--$$$$$$,"55.68256,12.58644",NaN,NaN,NaN,NaN,NaN,3516.0,"Store Kongensgade 34, København 1264 Danmark",NaN,$$$$$$,99,NaN,2312,3319.0,1264
2312,Restaurant Ma,NaN,NaN,NaN,------,"55.68192,12.57989",NaN,NaN,NaN,NaN,Dansk,3516.0,"Gammel Mønt 41, København 1117 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2313,1401.0,1117
2313,Ciao Italian Quality Food,NaN,NaN,NaN,--$$-$$$---,"55.68228,12.5849",NaN,NaN,NaN,NaN,Fra Lazio,3516.0,"Gothersgade 8g Baron Boltens Court, København ...","<div class=""header_links""><a href=""/Restaurant...",$$-$$$,2,NaN,2314,3851.0,1123
2314,The Fat Greek,NaN,NaN,107,--$------,"55.68234,12.585224",NaN,NaN,NaN,NaN,Grill,3518.0,"Gothersgade 8F Boltens Food Court, København 1...","<div class=""header_links""><a href=""/Restaurant...",$,1,NaN,2315,2921.0,1123
2315,Café Palmehaven,NaN,NaN,NaN,---,"55.640247,12.58927",NaN,NaN,NaN,NaN,Europæisk,4551.0,"Kongelundevej 39, København Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2316,2259.0,
2316,Aladdins Pizzeria & Grillbar,NaN,NaN,NaN,---,"55.643536,12.591267",NaN,NaN,NaN,NaN,Italiensk,4551.0,"Røde Mellemvej 112, København 2300 Danmark","<div class=""header_links""><a href=""/Restaurant...",$$$$$$,99,NaN,2317,2339.0,2300
2317,Flavio's kitchen,NaN,NaN,672,--$$$$---,"55.67502,12.580593",NaN,NaN,NaN,NaN,Italiensk,NaN,København Danmark,"<div class=""header_links""><a href=""/Restaurant...",$$$$,3,NaN,2318,3181.0,
2318,Klokken København,NaN,NaN,NaN,--$$$$$$,"55.67502,12.580593",NaN,NaN,NaN,NaN,NaN,NaN,"Knabrostræde 17, København 1208 Danmark",NaN,$$$$$$,99,NaN,2319,1926.0,1208
2319,Drommer Pizza,NaN,NaN,67,--$------,"55.67502,12.580593",NaN,NaN,NaN,NaN,Italiensk,NaN,København Danmark,"<div class=""header_links""><a href=""/Restaurant...",$,1,NaN,2320,3136.0,

In [4]:
print(data.dtypes)

Restaurant                        object
Main rating                      float64
Ranking on list                  float64
Price range                       object
Price class                       object
Location                          object
Good price                       float64
Food                             float64
Service                          float64
Atmosphere                       float64
Type of food                      object
Number of reviews                float64
Address                           object
Type of food link                 object
New price class                   object
Price class numeric                int64
Reverse ranking on list          float64
Full ranking                       int64
Distance from Kgs. Nytorv (m)    float64
Postal code                       object
dtype: object

In [ ]:
data['Pizza'] = data['Type of food link'].str.contains('Pizza')
data['Pizza'].fillna(False, inplace=True)
data['Sushi'] = data['Type of food link'].str.contains('Sushi')
data['Sushi'].fillna(False, inplace=True)
data['Fisk og skaldyr'] = data['Type of food link'].str.contains('Fisk og skaldyr')
data['Fisk og skaldyr'].fillna(False, inplace=True)
data['Thai'] = data['Type of food link'].str.contains('Thai')
data['Thai'].fillna(False, inplace=True)
data['Café'] = data['Type of food link'].str.contains('Café')
data['Café'].fillna(False, inplace=True)
data['Italiensk'] = data['Type of food link'].str.contains('Italiensk')
data['Italiensk'].fillna(False, inplace=True)
data['Indisk'] = data['Type of food link'].str.contains('Indisk')
data['Indisk'].fillna(False, inplace=True)
data['Steakhouse'] = data['Type of food link'].str.contains('Steakhouse')
data['Steakhouse'].fillna(False, inplace=True)
data['Mexicansk'] = data['Type of food link'].str.contains('Mexicansk')
data['Mexicansk'].fillna(False, inplace=True)
data['Thai'] = data['Type of food link'].str.contains('Thai')
data['Thai'].fillna(False, inplace=True)

type_mad_df = data[['Location','Ranking on list','Price class numeric','Restaurant','Postal code','Pizza','Sushi','Fisk og skaldyr','Thai','Café','Italiensk','Indisk','Mexikansk','Steakhouse']].copy()
type_mad_df.count()

In [ ]:
type_mad_df.to_csv("type_mad_df.csv")

In [16]:
data.to_csv('test_map_pizza.csv')

NameError: name 'data' is not defined

In [18]:
data_food

,Unnamed: 0,Location,Ranking on list,Price class numeric,Restaurant,Postal code,Pizza,Sushi,Fisk og skaldyr,Thai,Café,Italiensk,Indisk,Mexikansk,Steakhouse,City Area
0,0,"55.65107,12.50931",2148.0,99,Burger King,2450,0,0,0,0,0,0,0,0,0,kbh sv
1,1,"55.67788,12.591933",2146.0,99,Almanac,NaN,0,0,0,0,0,0,0,0,0,andet
2,2,"55.6679,12.54941",2143.0,2,Star Midnight Kebab-Grill,NaN,0,0,0,0,0,0,0,0,0,andet
3,3,"55.67502,12.580593",2137.0,99,Sunset Boulevard,1570,0,0,0,0,0,0,0,0,0,kbh v
4,4,"55.72732,12.524776",2104.0,2,Dwaraka Indisk Restaurant,2860,0,0,0,0,0,0,1,0,0,andet
5,5,"55.66268,12.56187",2103.0,99,McDonald's,1560,0,0,0,0,0,0,0,0,0,kbh v
6,6,"55.68939,12.55704",2100.0,99,Præg Kaffebar,2200,0,0,0,0,1,0,0,0,0,kbh n
7,7,"55.63103,12.57589",2099.0,99,Cafe Wok,2300,0,0,0,0,0,0,0,0,0,kbh s
8,8,"55.458576,12.183993",2090.0,99,Kujaku,1165,0,1,0,0,0,0,0,0,0,kbh k
9,9,"55.66731,12.55365",2085.0,99,Gastronomia Italiana Dieci,1720,0,0,0,0,0,0,0,0,0,kbh v
10,10,"55.67465,12.56565",2070.0,99,Restaurant Balkonen,1500,0,0,0,0,0,0,0,0,0,kbh v
11,11,"55.65197,12.63984",2053.0,99,Carisma ApS,NaN,0,0,0,0,0,0,0,0,0,andet
12,12,"55.67854,12.5755",2179.0,1,Dan Dan Restaurant,NaN,0,0,0,0,0,0,0,0,0,andet
13,13,"55.63226,12.5723",2172.0,99,Yam Yam,NaN,0,0,0,0,0,0,0,0,0,andet
14,14,"55.65898,12.60988",2159.0,99,Krunch,2300,0,0,0,0,0,0,0,0,0,kbh s
15,15,"55.67945,12.580216",2141.0,2,Yoburger,1100,0,0,0,0,0,0,0,0,0,kbh k
16,16,"55.70468,12.57768",2131.0,99,McDonald's,2100,0,0,0,0,0,0,0,0,0,kbh ø
17,17,"55.678505,12.575671",2120.0,2,Copenhagen Asian Food,1161,0,0,0,0,0,0,0,0,0,kbh k
18,18,"55.65042,12.52806",2115.0,2,La Coruna Pizza,2450,1,0,0,0,0,0,0,0,0,kbh sv
19,19,"55.64461,12.61483",2107.0,99,Cafe Restaurant Hollywood,2100,0,0,0,0,0,0,0,0,0,kbh ø
20,20,"55.72161,12.5297",2097.0,99,Cafe Q,2400,0,0,0,0,0,0,0,0,0,valby
21,21,"55.674896,12.533771",182.0,1,Kokken & Karry,1820,0,0,0,0,0,0,1,0,0,frb.
22,22,"55.67772,12.572994",2180.0,2,Cafe Sari,1450,0,0,0,0,1,0,0,0,0,kbh k
23,23,"55.68049,12.588333",2178.0,2,Hong Kong Restaurant,NaN,0,0,0,0,0,0,0,0,0,andet
24,24,"55.67645,12.569685",2175.0,1,"KFC, Rådhuspladsen",NaN,0,0,0,0,0,0,0,0,0,andet
25,25,"55.70091,12.56682",2171.0,99,Cafe-Pavillonen,2100,0,0,0,0,0,0,0,0,0,kbh ø
26,26,"55.670574,12.560301",2170.0,2,Tapas Revolution,1700,0,0,0,0,0,0,0,0,0,kbh v
27,27,"55.630043,12.577994",2169.0,2,Sushibar Fields,2300,0,1,0,0,0,0,0,0,0,kbh s
28,28,"55.683167,12.572968",2168.0,99,Burger King Frederiksborggade,1360,0,0,0,0,0,0,0,0,0,kbh k
29,29,"55.6728,12.5519",2164.0,2,Ammessi,1620,1,0,0,0,0,1,0,0,0,kbh v
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,2290,"55.677967,12.570004",NaN,2,Den Persiske Kat,1454,0,0,0,0,0,0,0,0,0,kbh k
2288,2291,"55.64416,12.6156",NaN,2,Amager Pizza Palace,2300,1,0,0,0,0,0,0,0,0,kbh s
2289,2292,"55.64606,12.61395",NaN,99,Gasoline Grill,1799,0,0,0,0,0,0,0,0,0,kbh v
2290,2293,"55.6489,12.61354",NaN,99,Istanbul Grill,1051,0,0,0,0,0,0,0,0,0,kbh k
2291,2294,"55.67527,12.58678",NaN,99,Ahoy Bar,NaN,0,0,0,0,0,0,0,0,0,andet
2292,2295,"55.69304,12.612353",NaN,99,Ilimo,NaN,0,0,0,0,0,1,0,0,0,andet
2293,2296,"55.67465,12.56565",NaN,99,Hovedindgangen,1630,0,0,0,0,0,0,0,0,0,kbh v
2294,2297,"55.68536,12.56768",NaN,1,Cafe' PhoneDoktor,1360,0,0,0,0,1,0,0,0,0,kbh k
2295,2298,"55.68466,12.5676",NaN,99,Made Restaurant & Cocktails,NaN,0,0,0,0,0,0,0,0,0,andet
2296,2299,"55.67492,12.56181",NaN,99,Intensia,NaN,0,0,0,0,1,0,0,0,0,andet
2297,2300,"55.67763,12.57634",NaN,2,Norrlyst,1208,0,0,0,0,0,0,0,0,0,kbh k
2298,2301,"55.67641,12.57472",NaN,2,Evoo,1466,0,0,0,0,0,1,0,0,0,kbh k
2299,2302,"55.67579,12.57384",NaN,2,LiA Gelato,1468,0,0,0,0,1,1,0,0,0,kbh k
2300,2303,"55.67814,12.57571",NaN,2,Cafe Heaven,1161,0,0,0,0,0,0,0,0,0,kbh k
2301,2304,"55.6769,12.57011",NaN,99,Shawarma Kebap Palace,1459,0,0,0,0,0,0,0,0,0,kbh k
2302,2305,"55.66273,12.56147",NaN,99,McDonald's,1560,0,0,0,0,0,0,0,0,0,kbh v
2303,2306,"55.62739,12.57947",NaN,99,Cafe Hannemann,2300,0,0,0,0,0,0,0,0,0,kbh s
2304,2307,"55.62354,12.577581",NaN,99,Break,NaN,0,0,0,0,1,0,0,0,0,andet
2305,2308,"55.67592,12.56586",NaN,2,Lime,1608,0,0,0,1,0,0,0,0,0,kbh v
2306,2309,"55.676098,12.568337",NaN,99,Clausens sandwich og juice,2100,0,0,0,0,0,0,0,0,0,kbh ø
2307,2310,"55.675003,12.560683",NaN,99,Mooch,1612,0,0,0,0,0,0,0,0,0,kbh v
2308,2311,"55.68256,12.58644",NaN,99,Restaurant Kliche,1264,0,0,0,0,0,0,0,0,0,kbh k
2309,2312,"55.68192,12.57989",NaN,99,Restaurant Ma,1117,0,0,0,0,0,0,0,0,0,kbh k
2310,2313,"55.68228,12.5849",NaN,2,Ciao Italian Quality Food,1123,0,0,0,0,0,1,0,0,0,kbh k
2311,2314,"55.68234,12.585224",NaN,1,The Fat Greek,1123,0,0,0,0,0,0,0,0,0,kbh k
2312,2315,"55.640247,12.58927",NaN,99,Café Palmehaven,NaN,0,0,0,0,0,0,0,0,0,andet
2313,2316,"55.643536,12.591267",NaN,99,Aladdins Pizzeria & Grillbar,2300,0,0,0,0,0,1,0,0,0,kbh s
2314,2317,"55.67502,12.580593",NaN,3,Flavio's kitchen,NaN,0,0,0,0,0,1,0,0,0,andet
2315,2318,"55.67502,12.580593",NaN,99,Klokken København,1208,0,0,0,0,0,0,0,0,0,kbh k
2316,2319,"55.67502,12.580593",NaN,1,Drommer Pizza,NaN,0,0,0,0,0,1,0,0,0,andet

In [19]:
print(data_food.sum())  #ny row der finder sum af alle kolonner
data_food

Unnamed: 0                                                       2683386
Location               55.65107,12.5093155.67788,12.59193355.6679,12....
Ranking on list                                              2.14901e+06
Price class numeric                                                68932
Restaurant             Burger KingAlmanacStar Midnight Kebab-GrillSun...
Pizza                                                                141
Sushi                                                                 87
Fisk og skaldyr                                                       65
Thai                                                                  68
Café                                                                 230
Italiensk                                                            266
Indisk                                                                57
Mexikansk                                                              0
Steakhouse                                                            34
City Area              kbh svandetandetkbh vandetkbh vkbh nkbh skbh k...
dtype: object

,Unnamed: 0,Location,Ranking on list,Price class numeric,Restaurant,Postal code,Pizza,Sushi,Fisk og skaldyr,Thai,Café,Italiensk,Indisk,Mexikansk,Steakhouse,City Area
0,0,"55.65107,12.50931",2148.0,99,Burger King,2450,0,0,0,0,0,0,0,0,0,kbh sv
1,1,"55.67788,12.591933",2146.0,99,Almanac,NaN,0,0,0,0,0,0,0,0,0,andet
2,2,"55.6679,12.54941",2143.0,2,Star Midnight Kebab-Grill,NaN,0,0,0,0,0,0,0,0,0,andet
3,3,"55.67502,12.580593",2137.0,99,Sunset Boulevard,1570,0,0,0,0,0,0,0,0,0,kbh v
4,4,"55.72732,12.524776",2104.0,2,Dwaraka Indisk Restaurant,2860,0,0,0,0,0,0,1,0,0,andet
5,5,"55.66268,12.56187",2103.0,99,McDonald's,1560,0,0,0,0,0,0,0,0,0,kbh v
6,6,"55.68939,12.55704",2100.0,99,Præg Kaffebar,2200,0,0,0,0,1,0,0,0,0,kbh n
7,7,"55.63103,12.57589",2099.0,99,Cafe Wok,2300,0,0,0,0,0,0,0,0,0,kbh s
8,8,"55.458576,12.183993",2090.0,99,Kujaku,1165,0,1,0,0,0,0,0,0,0,kbh k
9,9,"55.66731,12.55365",2085.0,99,Gastronomia Italiana Dieci,1720,0,0,0,0,0,0,0,0,0,kbh v
10,10,"55.67465,12.56565",2070.0,99,Restaurant Balkonen,1500,0,0,0,0,0,0,0,0,0,kbh v
11,11,"55.65197,12.63984",2053.0,99,Carisma ApS,NaN,0,0,0,0,0,0,0,0,0,andet
12,12,"55.67854,12.5755",2179.0,1,Dan Dan Restaurant,NaN,0,0,0,0,0,0,0,0,0,andet
13,13,"55.63226,12.5723",2172.0,99,Yam Yam,NaN,0,0,0,0,0,0,0,0,0,andet
14,14,"55.65898,12.60988",2159.0,99,Krunch,2300,0,0,0,0,0,0,0,0,0,kbh s
15,15,"55.67945,12.580216",2141.0,2,Yoburger,1100,0,0,0,0,0,0,0,0,0,kbh k
16,16,"55.70468,12.57768",2131.0,99,McDonald's,2100,0,0,0,0,0,0,0,0,0,kbh ø
17,17,"55.678505,12.575671",2120.0,2,Copenhagen Asian Food,1161,0,0,0,0,0,0,0,0,0,kbh k
18,18,"55.65042,12.52806",2115.0,2,La Coruna Pizza,2450,1,0,0,0,0,0,0,0,0,kbh sv
19,19,"55.64461,12.61483",2107.0,99,Cafe Restaurant Hollywood,2100,0,0,0,0,0,0,0,0,0,kbh ø
20,20,"55.72161,12.5297",2097.0,99,Cafe Q,2400,0,0,0,0,0,0,0,0,0,valby
21,21,"55.674896,12.533771",182.0,1,Kokken & Karry,1820,0,0,0,0,0,0,1,0,0,frb.
22,22,"55.67772,12.572994",2180.0,2,Cafe Sari,1450,0,0,0,0,1,0,0,0,0,kbh k
23,23,"55.68049,12.588333",2178.0,2,Hong Kong Restaurant,NaN,0,0,0,0,0,0,0,0,0,andet
24,24,"55.67645,12.569685",2175.0,1,"KFC, Rådhuspladsen",NaN,0,0,0,0,0,0,0,0,0,andet
25,25,"55.70091,12.56682",2171.0,99,Cafe-Pavillonen,2100,0,0,0,0,0,0,0,0,0,kbh ø
26,26,"55.670574,12.560301",2170.0,2,Tapas Revolution,1700,0,0,0,0,0,0,0,0,0,kbh v
27,27,"55.630043,12.577994",2169.0,2,Sushibar Fields,2300,0,1,0,0,0,0,0,0,0,kbh s
28,28,"55.683167,12.572968",2168.0,99,Burger King Frederiksborggade,1360,0,0,0,0,0,0,0,0,0,kbh k
29,29,"55.6728,12.5519",2164.0,2,Ammessi,1620,1,0,0,0,0,1,0,0,0,kbh v
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,2290,"55.677967,12.570004",NaN,2,Den Persiske Kat,1454,0,0,0,0,0,0,0,0,0,kbh k
2288,2291,"55.64416,12.6156",NaN,2,Amager Pizza Palace,2300,1,0,0,0,0,0,0,0,0,kbh s
2289,2292,"55.64606,12.61395",NaN,99,Gasoline Grill,1799,0,0,0,0,0,0,0,0,0,kbh v
2290,2293,"55.6489,12.61354",NaN,99,Istanbul Grill,1051,0,0,0,0,0,0,0,0,0,kbh k
2291,2294,"55.67527,12.58678",NaN,99,Ahoy Bar,NaN,0,0,0,0,0,0,0,0,0,andet
2292,2295,"55.69304,12.612353",NaN,99,Ilimo,NaN,0,0,0,0,0,1,0,0,0,andet
2293,2296,"55.67465,12.56565",NaN,99,Hovedindgangen,1630,0,0,0,0,0,0,0,0,0,kbh v
2294,2297,"55.68536,12.56768",NaN,1,Cafe' PhoneDoktor,1360,0,0,0,0,1,0,0,0,0,kbh k
2295,2298,"55.68466,12.5676",NaN,99,Made Restaurant & Cocktails,NaN,0,0,0,0,0,0,0,0,0,andet
2296,2299,"55.67492,12.56181",NaN,99,Intensia,NaN,0,0,0,0,1,0,0,0,0,andet
2297,2300,"55.67763,12.57634",NaN,2,Norrlyst,1208,0,0,0,0,0,0,0,0,0,kbh k
2298,2301,"55.67641,12.57472",NaN,2,Evoo,1466,0,0,0,0,0,1,0,0,0,kbh k
2299,2302,"55.67579,12.57384",NaN,2,LiA Gelato,1468,0,0,0,0,1,1,0,0,0,kbh k
2300,2303,"55.67814,12.57571",NaN,2,Cafe Heaven,1161,0,0,0,0,0,0,0,0,0,kbh k
2301,2304,"55.6769,12.57011",NaN,99,Shawarma Kebap Palace,1459,0,0,0,0,0,0,0,0,0,kbh k
2302,2305,"55.66273,12.56147",NaN,99,McDonald's,1560,0,0,0,0,0,0,0,0,0,kbh v
2303,2306,"55.62739,12.57947",NaN,99,Cafe Hannemann,2300,0,0,0,0,0,0,0,0,0,kbh s
2304,2307,"55.62354,12.577581",NaN,99,Break,NaN,0,0,0,0,1,0,0,0,0,andet
2305,2308,"55.67592,12.56586",NaN,2,Lime,1608,0,0,0,1,0,0,0,0,0,kbh v
2306,2309,"55.676098,12.568337",NaN,99,Clausens sandwich og juice,2100,0,0,0,0,0,0,0,0,0,kbh ø
2307,2310,"55.675003,12.560683",NaN,99,Mooch,1612,0,0,0,0,0,0,0,0,0,kbh v
2308,2311,"55.68256,12.58644",NaN,99,Restaurant Kliche,1264,0,0,0,0,0,0,0,0,0,kbh k
2309,2312,"55.68192,12.57989",NaN,99,Restaurant Ma,1117,0,0,0,0,0,0,0,0,0,kbh k
2310,2313,"55.68228,12.5849",NaN,2,Ciao Italian Quality Food,1123,0,0,0,0,0,1,0,0,0,kbh k
2311,2314,"55.68234,12.585224",NaN,1,The Fat Greek,1123,0,0,0,0,0,0,0,0,0,kbh k
2312,2315,"55.640247,12.58927",NaN,99,Café Palmehaven,NaN,0,0,0,0,0,0,0,0,0,andet
2313,2316,"55.643536,12.591267",NaN,99,Aladdins Pizzeria & Grillbar,2300,0,0,0,0,0,1,0,0,0,kbh s
2314,2317,"55.67502,12.580593",NaN,3,Flavio's kitchen,NaN,0,0,0,0,0,1,0,0,0,andet
2315,2318,"55.67502,12.580593",NaN,99,Klokken København,1208,0,0,0,0,0,0,0,0,0,kbh k
2316,2319,"55.67502,12.580593",NaN,1,Drommer Pizza,NaN,0,0,0,0,0,1,0,0,0,andet

In [ ]:
data_food['City Area'].value_counts(dropna=False)

'''kbh k = 698
andet = 402
kbh v = 391
frb = 223
kbh n = 213
kbh s = 163
kbh ø = 151
valby = 44
kbh sv = 32'''

In [20]:
#df_grp_area = data_food.groupby(['City Area']).first()
df_grp_area = data_food.groupby('City Area')['Pizza','Sushi','Fisk og skaldyr','Thai','Café','Italiensk','Indisk','Mexikansk','Steakhouse'].sum()

#adding total column:


df_grp_area

,Pizza,Sushi,Fisk og skaldyr,Thai,Café,Italiensk,Indisk,Mexikansk,Steakhouse
City Area,,,,,,,,,
andet,28,14,8,11,39,42,11,0,1
frb.,13,12,0,11,23,25,9,0,3
kbh k,31,18,36,14,75,81,10,0,11
kbh n,16,4,5,9,23,23,5,0,0
kbh s,17,14,4,5,14,22,7,0,3
kbh sv,3,1,0,1,3,3,1,0,1
kbh v,21,12,6,13,32,48,10,0,13
kbh ø,6,7,4,3,15,17,3,0,2
valby,6,5,2,1,6,5,1,0,0

In [8]:
import pandas as pd
områder = [['kbh k', 698], ['andet', 402], ['kbh v', 391], ['frb.', 223], ['kbh n', 213], ['kbh s', 163], ['kbh ø', 151], ['valby', 44], ['kbh sv', 32]]
områder_df = pd.DataFrame(områder, columns = ['City Area', 'Total'])
print(områder_df)

  City Area  Total
0     kbh k    698
1     andet    402
2     kbh v    391
3      frb.    223
4     kbh n    213
5     kbh s    163
6     kbh ø    151
7     valby     44
8    kbh sv     32

In [21]:
#joining the two dataframes to get the total column
df_grp_area = pd.merge(df_grp_area, områder_df, left_on='City Area', right_on='City Area')

df_grp_area

,City Area,Pizza,Sushi,Fisk og skaldyr,Thai,Café,Italiensk,Indisk,Mexikansk,Steakhouse,Total
0,andet,28,14,8,11,39,42,11,0,1,402
1,frb.,13,12,0,11,23,25,9,0,3,223
2,kbh k,31,18,36,14,75,81,10,0,11,698
3,kbh n,16,4,5,9,23,23,5,0,0,213
4,kbh s,17,14,4,5,14,22,7,0,3,163
5,kbh sv,3,1,0,1,3,3,1,0,1,32
6,kbh v,21,12,6,13,32,48,10,0,13,391
7,kbh ø,6,7,4,3,15,17,3,0,2,151
8,valby,6,5,2,1,6,5,1,0,0,44

In [41]:
df_grp_area['p pizza'] = df_grp_area['Pizza']/df_grp_area['Total']*100
df_grp_area['p Sushi'] = df_grp_area['Sushi']/df_grp_area['Total']*100
df_grp_area['p Fisk og skaldyr'] = df_grp_area['Fisk og skaldyr']/df_grp_area['Total']*100
df_grp_area['p Thai'] = df_grp_area['Thai']/df_grp_area['Total']*100
df_grp_area['p Café'] = df_grp_area['Café']/df_grp_area['Total']*100
df_grp_area['p Italiensk'] = df_grp_area['Italiensk']/df_grp_area['Total']*100
df_grp_area['p Indisk'] = df_grp_area['Indisk']/df_grp_area['Total']*100
df_grp_area['p Mexikansk'] = df_grp_area['Mexikansk']/df_grp_area['Total']*100
df_grp_area['p Steakhouse'] = df_grp_area['Steakhouse']/df_grp_area['Total']*100

In [39]:
percent_df = df_grp_area[df_grp_area.columns[11:20]]

In [40]:
percent_df.to_csv('percent på bydel.csv')

,p pizza,p Sushi,p Fisk og skaldyr,p Thai,p Café,p Italiensk,p Indisk,p Mexikansk,p Steakhouse
City Area,,,,,,,,,
andet,6.965174,3.482587,1.990050,2.736318,9.701493,10.447761,2.736318,0.0,0.248756
frb.,5.829596,5.381166,0.000000,4.932735,10.313901,11.210762,4.035874,0.0,1.345291
kbh k,4.441261,2.578797,5.157593,2.005731,10.744986,11.604585,1.432665,0.0,1.575931
kbh n,7.511737,1.877934,2.347418,4.225352,10.798122,10.798122,2.347418,0.0,0.000000
kbh s,10.429448,8.588957,2.453988,3.067485,8.588957,13.496933,4.294479,0.0,1.840491
kbh sv,9.375000,3.125000,0.000000,3.125000,9.375000,9.375000,3.125000,0.0,3.125000
kbh v,5.370844,3.069054,1.534527,3.324808,8.184143,12.276215,2.557545,0.0,3.324808
kbh ø,3.973510,4.635762,2.649007,1.986755,9.933775,11.258278,1.986755,0.0,1.324503
valby,13.636364,11.363636,4.545455,2.272727,13.636364,11.363636,2.272727,0.0,0.000000

In [72]:
import matplotlib.pyplot as plt
import numpy as np
import cufflinks as cf
from pandas.tools.plotting import table

pie=cf.datagen.pie()
pie.head()

cf.set_config_file(world_readable=True,offline=False)

'''f, axes = plt.subplots(3,3, figsize=(10,9))
for ax, col in zip(axes, percent_df.columns):
    percent_df[col].plot(kind='pie', ax=ax, title=col, fontsize = 10)
    ax.legend(loc=3)
    plt.ylabel("")
    plt.xlabel("")

plt.show()'''

fig, axes = plt.subplots(3,3, figsize=(10,9))
for ax, col in zip(axes, percent_df.columns):
    percent_df[col].iplot(kind='pie', legend=False, ax=ax, title=col)
    ax.set(ylabel='', aspect='equal')

axes[0].legend(bbox_to_anchor=(0, 0.5))

plt.show()

ModuleNotFoundError: No module named 'pandas.tools'

In [ ]:
# Create a list of colors (from iWantHue)
colors = ["#E13F29", "#D69A80", "#D63B59", "#AE5552", "#CB5C3B", "#EB8076", "#96624E"]

# Create a pie chart
plt.pie(
    # using data total)arrests
    df['total_arrests'],
    # with the labels being officer names
    labels=df['officer_name'],
    # with no shadows
    shadow=False,
    # with colors
    colors=colors,
    # with one slide exploded out
    explode=(0, 0, 0, 0, 0.15),
    # with the start angle at 90%
    startangle=90,
    # with the percent listed as a fraction
    autopct='%1.1f%%',
    )

# View the plot drop above
plt.axis('equal')

# View the plot
plt.tight_layout()
plt.show()