In [2]:
import bs4 as bs
from urllib.request import urlopen as ureq
from bs4 import BeautifulSoup as soup
import pandas as pd
import urllib.request
import re
import numpy as np

In [14]:
#overview_urls = pd.read_csv("overview_urls.csv")["Init_links"]
overview_urls = pd.read_csv("overview_urls.csv")["Init_links"]
#print(overview_urls.head())
#type(overview_urls)
#overview_urls2 = overview_urls.replace(".com", ".dk")
#overview_urls2.head()

In [87]:
#url_trip = ['https://www.tripadvisor.com/RestaurantSearch-g189541-o180-a_date.2019__2D__08__2D__22-a_people.2-a_time.20%3A00%3A00-a_zur.2019__5F__08__5F__22-Copenhag.html#EATERY_LIST_CONTENTS']

#overview_urls = pd.read_csv("overview_urls.csv")["Init_links"]
#df_split = np.array_split(overview_urls, 10)

 
dollarsign = ["$", "$ - $$", "$$", "$$ - $$$", "$$$", "$$$ - $$$$","$$$$", "$$$$ - $$$$$", "$$$$$"]
values = [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]
translate_priceclass = pd.DataFrame(list(zip(dollarsign,values)), columns=['Dollarsign', 'Priceclass_num'])

Overview_info = pd.DataFrame()

i = 0

failed = []
import time
    

for url_trip in overview_urls:
    i = i+1
    print("Number of urls tried "+ str(i))

    count = 1
    while count <= 50:
        try:
            #print(i)
            trip = ureq(url_trip)
            trip_html = trip.read()
            trip.close()
            trip_soup = soup(trip_html, "lxml")

            # lister fra oversigten

            list_name_front = []
            list_bubble_front = []
            list_review_front = []
            list_priceclass_front = []

            def get_info(link):
                response = urllib.request.urlopen(link)

                for items in trip_soup.find_all(class_="shortSellDetails"):
                    name = items.find(class_="property_title").get_text(strip=True)
                    list_name_front.append(name)

                    bubble = items.find(class_="ui_bubble_rating").get("alt")
                    list_bubble_front.append(re.sub('[^0-9,.]', '', bubble)[:-1])

                    review = items.find(class_="reviewCount").get_text(strip=True)
                    list_review_front.append(re.sub('[^0-9,.]', '', review))

                    priceclass = items.find(class_="item price").get_text(strip=True)
                    list_priceclass_front.append(priceclass)

            if __name__ == '__main__':
                get_info(url_trip)
                
                
            df = pd.DataFrame(list(zip(list_name_front, list_bubble_front,list_review_front, list_priceclass_front)), 
            columns =['Name', 'Bubble', 'Review', 'Priceclass']) 
    

            df_join = df.merge(translate_priceclass, left_on='Priceclass', right_on='Dollarsign')
    
            Overview_info = Overview_info.append(df_join, ignore_index=True)
           
            break
        
        except AttributeError as e: 
            time.sleep(0.5)
            
            if count == 50:
                raise
            count += 1
            print("number of trials" + str(count))
        
    #print(list_name_front)
    #print('')
    #print(list_bubble_front)
    #print('')
    #print(list_review_front)
    #print('')
    #print(list_priceclass_front)
    
  
    #time.sleep(5)
    

Overview_info.to_csv("Overview_info.csv")

Number of urls tried 1
Number of urls tried 2
Number of urls tried 3
Number of urls tried 4
Number of urls tried 5
Number of urls tried 6
Number of urls tried 7
Number of urls tried 8
Number of urls tried 9
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
Number of urls tried 10
Number of urls tried 11
Number of urls tried 12
Number of urls tried 13
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
Number of urls tried 14
Number of urls tried 15
Number of urls tried 16
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
Number of urls tried 17
number of trials2
Number of urls tried 18
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
number of trials12
number of trials13
number of trials14
number of trials15
number of trials16
number of trials17
number of trials18
number of trials19
number of trials20
number of trials21
number of trials22
number of trials23
number of trials24
number of trials25
number of trials26
number of trials27
Number of urls tried 19
number of trials2
number of trials3
number of trials4
Number of urls tried 20
number of trials2
Number of urls tried 21
number of trials2
Number of urls tried 22
number of trials2
number of trials3
number of trials4
Number of urls tried 23
number of trials2
number of trials3
number of trials4
number of trials5
Number of urls tried 24
number of trials2
number of trials3
Number of urls tried 25
number of trials2
Number of urls tried 26
Number of urls tried 27
number of trials2
Number of urls tried 28
number of trials2
number of trials3
number of trials4
Number of urls tried 29
number of trials2
Number of urls tried 30
number of trials2
number of trials3
number of trials4
Number of urls tried 31
number of trials2
Number of urls tried 32
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
Number of urls tried 33
Number of urls tried 34
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
number of trials12
number of trials13
number of trials14
number of trials15
number of trials16
number of trials17
number of trials18
number of trials19
number of trials20
number of trials21
Number of urls tried 35
number of trials2
number of trials3
Number of urls tried 36
Number of urls tried 37
number of trials2
number of trials3
number of trials4
Number of urls tried 38
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
Number of urls tried 39
Number of urls tried 40
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
Number of urls tried 41
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
Number of urls tried 42
number of trials2
Number of urls tried 43
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
number of trials12
number of trials13
Number of urls tried 44
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
number of trials12
number of trials13
number of trials14
number of trials15
number of trials16
number of trials17
number of trials18
number of trials19
number of trials20
number of trials21
number of trials22
number of trials23
number of trials24
number of trials25
number of trials26
number of trials27
number of trials28
number of trials29
number of trials30
number of trials31
number of trials32
number of trials33
Number of urls tried 45
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
Number of urls tried 46
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
Number of urls tried 47
number of trials2
Number of urls tried 48
Number of urls tried 49
Number of urls tried 50
number of trials2
number of trials3
number of trials4
Number of urls tried 51
Number of urls tried 52
number of trials2
Number of urls tried 53
Number of urls tried 54
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
Number of urls tried 55
Number of urls tried 56
number of trials2
Number of urls tried 57
number of trials2
number of trials3
Number of urls tried 58
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
Number of urls tried 59
number of trials2
number of trials3
Number of urls tried 60
number of trials2
number of trials3
Number of urls tried 61
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
Number of urls tried 62
Number of urls tried 63
number of trials2
number of trials3
Number of urls tried 64
number of trials2
Number of urls tried 65
number of trials2
number of trials3
Number of urls tried 66
number of trials2
Number of urls tried 67
number of trials2
Number of urls tried 68
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
Number of urls tried 69
number of trials2
number of trials3
number of trials4
Number of urls tried 70
Number of urls tried 71
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
number of trials11
number of trials12
Number of urls tried 72
number of trials2
number of trials3
number of trials4
Number of urls tried 73
number of trials2
Number of urls tried 74
number of trials2
number of trials3
number of trials4
number of trials5
number of trials6
number of trials7
number of trials8
number of trials9
number of trials10
Number of urls tried 75
number of trials2
Number of urls tried 76
number of trials2
number of trials3
Number of urls tried 77
number of trials2
number of trials3
number of trials4
number of trials5
Number of urls tried 78

In [90]:
print(Overview_info)

                                       Name Bubble Review Priceclass  \
0    PUBLIC - The Italian Social Dining Bar    4.5     53   $$ - $$$
1                   The Olive Kitchen & Bar      5  2,135   $$ - $$$
2                      Zahida at Kellerdirk      5    878   $$ - $$$
3                              Cafe Komplet    4.5    350   $$ - $$$
4                                  Enomania    4.5    245   $$ - $$$
5                         Husmann's Vinstue    4.5    254   $$ - $$$
6                             Trattoria SUD    4.5    306   $$ - $$$
7                           Basso Kobenhavn    4.5    339   $$ - $$$
8                    Restaurant Schonnemann    4.5    161   $$ - $$$
9                      BODIL - et spisested    4.5    208   $$ - $$$
10                              The Red Box    4.5    515   $$ - $$$
11                         Trattoria lâ€™Alba    4.5    176   $$ - $$$
12                                   Che Fe    4.5    578   $$ - $$$
13                              Cafe Patina    4.5     96   $$ - $$$
14                                    Goomi    4.5    271   $$ - $$$
15                              Feed Bistro    4.5    548   $$ - $$$
16                  Garden Restaurant & Bar    4.5    133   $$ - $$$
17                         Grams Laekkerier      5    718          $
18               Pizzeria Mamemi & Wine Bar      5    927          $
19                               Banana Joe    4.5    411          $
20                 Restaurant Krebsegaarden      5  1,310       $$$$
21                             Sollerod Kro      5    337       $$$$
22                          The Pescatarian      5    196       $$$$
23                                 Geranium    4.5  1,053       $$$$
24                               Marv & Ben    4.5    642       $$$$
25                                Kokkeriet    4.5    769       $$$$
26                     Mielcke & Hurtigkarl    4.5    252       $$$$
27                        Restaurant leaven    4.5    309       $$$$
28                    Studio - The Standard    4.5    452       $$$$
29                           Frederiks Have    4.5    529       $$$$
..                                      ...    ...    ...        ...
218                              Pizza Time    4.5     67          $
219                    Astor Deep Pan Pizza    3.5    423          $
220                               Pizzicato      5     43          $
221                        Krystal Sandwich      5     28          $
222                                  Ankara    3.5    312          $
223                            Harrys Place    4.5     44          $
224                             Pizza Huset    4.5     43          $
225                                Isoteket      5     25          $
226                                   Samos    3.5    312          $
227                        Chicky Grill-Bar      4     70          $
228                        Cafe Kitchenette      4    149   $$ - $$$
229                  Grillen Christianshavn      4     99   $$ - $$$
230                             The Italian    3.5    461   $$ - $$$
231                                    Noho    4.5     40   $$ - $$$
232                              FAMO Metro      4    122   $$ - $$$
233                                   Hanzo      4    118   $$ - $$$
234                   Tapas Huset Casa Lola    3.5    375   $$ - $$$
235                         Teaterkaelderen      4     90   $$ - $$$
236                                  Hooked    4.5     34   $$ - $$$
237                    Boston Grill Mayfair      4     88   $$ - $$$
238                           Gorm's Nyhavn    3.5    308   $$ - $$$
239                                La La La      4    116   $$ - $$$
240                          Alabama Social      4    188   $$ - $$$
241                       Selfish Take Away    4.5     71   $$ - $$$
242                                 Carlton    3.5    316   $$ - $$$
243                          Restaurant Mes      4    117   $$ - $$$
244                            The Dubliner    3.5    398   $$ - $$$
245                     Restaurant Frascati    3.5    698   $$ - $$$
246                 Balthazar Champagne Bar    4.5    112       $$$$
247                        Da Aldo Pizzeria    4.5     31       $$$$

    Dollarsign  Priceclass_num
0     $$ - $$$             2.5
1     $$ - $$$             2.5
2     $$ - $$$             2.5
3     $$ - $$$             2.5
4     $$ - $$$             2.5
5     $$ - $$$             2.5
6     $$ - $$$             2.5
7     $$ - $$$             2.5
8     $$ - $$$             2.5
9     $$ - $$$             2.5
10    $$ - $$$             2.5
11    $$ - $$$             2.5
12    $$ - $$$             2.5
13    $$ - $$$             2.5
14    $$ - $$$             2.5
15    $$ - $$$             2.5
16    $$ - $$$             2.5
17           $             1.0
18           $             1.0
19           $             1.0
20        $$$$             4.0
21        $$$$             4.0
22        $$$$             4.0
23        $$$$             4.0
24        $$$$             4.0
25        $$$$             4.0
26        $$$$             4.0
27        $$$$             4.0
28        $$$$             4.0
29        $$$$             4.0
..         ...             ...
218          $             1.0
219          $             1.0
220          $             1.0
221          $             1.0
222          $             1.0
223          $             1.0
224          $             1.0
225          $             1.0
226          $             1.0
227          $             1.0
228   $$ - $$$             2.5
229   $$ - $$$             2.5
230   $$ - $$$             2.5
231   $$ - $$$             2.5
232   $$ - $$$             2.5
233   $$ - $$$             2.5
234   $$ - $$$             2.5
235   $$ - $$$             2.5
236   $$ - $$$             2.5
237   $$ - $$$             2.5
238   $$ - $$$             2.5
239   $$ - $$$             2.5
240   $$ - $$$             2.5
241   $$ - $$$             2.5
242   $$ - $$$             2.5
243   $$ - $$$             2.5
244   $$ - $$$             2.5
245   $$ - $$$             2.5
246       $$$$             4.0
247       $$$$             4.0

[248 rows x 6 columns]

In [ ]:
# creating lists for each variable

list_price_class_number = []
list_price_class_value = []
list_bubbles = []
list_food_bubbles = []
list_service_bubbles = []
list_price_bubbles = []
list_atmos_bubbles = []
list_ranking = []
list_number_of_ratings = []
list_lat = []
list_long = []

In [83]:
#test link til scraping af de individuelle sider
web_url = 'https://www.tripadvisor.dk/Restaurant_Review-g189541-d10451770-Reviews-Ravnsborg_Kitchen_Bar-Copenhagen_Zealand.html'
url = ureq(web_url)
url_html = url.read()
url.close()
url_soup = soup(url_html,'lxml')

#Exstracting title
title = str(url_soup.find(class_="ui_header h1"))
print('title'+' '+title.split('>')[1].split('<')[0])


#Exstracting price_class_number $$$
price_class_number = str(url_soup.find(href="/Restaurants-g189541-Copenhagen_Zealand.html?pid=8"))
print('price class'+' '+re.sub('[^$]', '', price_class_number))

#Exstracting price_class_value
price_class_value = str(url_soup.find(class_="restaurants-detail-overview-cards-DetailsSectionOverviewCard__tagText--1OH6h"))
print('price_class_value'+' '+re.sub('[^0-9,.]', '', price_class_value)) #problemer med at lave string pÃ¦n


#Exstracting number of bubbles
bubbles = str(url_soup.find(class_="restaurants-detail-overview-cards-RatingsOverviewCard__overallRating--nohTl"))    
print('bubbles'+' '+re.sub('[^0-9,.]', '', bubbles)) #stripping all other than the ranking numbers

#Exstracting list_ranking
list_ranking =str(url_soup.find(class_="restaurants-detail-overview-cards-RatingsOverviewCard__ranking--17CmN").find('span', class_=""))
print(list_ranking)
#print('list_ranking'+' '+re.sub('[^0-9,.]', '', list_ranking)

#Exstracting long and lat
longlat = str(url_soup.find(class_="restaurants-detail-overview-cards-LocationOverviewCard__mapImage--22-Al"))
print(longlat)

title Ravnsborg Kitchen &amp; Bar
price class
price_class_value 1660.249.
bubbles 4,5
<span class="">Nr. 81</span>
None